
<div ng-controller="AppController" class="user-participation">
    <div class="right-top">
        <ul class="ul-li ul-li-revenue">
            <li ng-class="bluebgStatus == 1 ? 'blue-bg' : '' " ng-click="revenueChange(1)" class="exportBtn">PC</li>
            <li class="border-none" ng-click="revenueChange(2)" ng-class="bluebgStatus == 2 ? 'blue-bg' : '' " style="display: none;">人均业绩</li>
        </ul>
    </div>
    <div class="right-model">
        <div class="right-model-content right-model-content1" style="display: block">
            <div class="title-border">
                <div class="title-content">
                    <div class="title-content-left">
                        活动广告图点击量
                    </div>
                    <div class="title-content-right">

                        <span>
							<input type="text" id="revenueStarttime1" class="startTime" readonly ng-model="revenueStarttime1" ng-change="revenueChangeVal1()">至
                            <input type="text" id="revenueEndtime1" class="startTime" readonly ng-model="revenueEndtime1" ng-change="revenueChangeVal1()">
						</span>

                    </div>
                </div>
            </div>
            <div class="addUserMain-content">
                <div id="revenueChart" style="height:450px;margin-top: 30px;"></div>
            </div>
            <div class="title-border" style="margin-top: 37px;">
                <div class="title-content">
                    <div class="title-content-left">
                        活动广告图点击量明细
                    </div>
                    <div class="title-content-right">

                        <span class="blue exportBtn" onclick="exportTable('revenueTable','活动广告图点击量明细')">导出</span>
                    </div>
                </div>
            </div>
            <div class="box-body mailbox-messages">
                <table id="revenueTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td ng-repeat="x in titleList1">{{x}}</td>
                        </tr>
                        <tr ng-repeat="x in tableList1">
                            <td>{{x[0]}}</td>
                            <td>{{x[1]}}</td>
                            <td>{{x[2]}}</td>
                            <td>{{x[3]}}</td>
                        </tr>
                    </thead>


                </table>
            </div>

        </div>



        <div class="right-model-content right-model-content2" style="display:none">
            <div class="title-border">
                <div class="title-content">
                    <div class="title-content-left">
                        人均单产与人均业绩
                    </div>
                    <div class="title-content-right">

                        <span>
							<input type="text" id="singleStarttime1" class="startTime" readonly ng-model="singleStarttime1" ng-change="revenueChangeVal2()">至
                            <input type="text" id="singleEndtime1" class="startTime" readonly ng-model="singleEndtime1" ng-change="revenueChangeVal2()">
						</span>

                        <ul class="ul-li" id="deviceUl2">
                            <li ng-class="bluebgflag2 == 1 ? 'blue-bg' : '' " ng-click="bluebgflagChange2(1)">全部</li>
                            <li class="border-none" ng-click="bluebgflagChange2(2)" ng-class="bluebgflag2 == 2 ? 'blue-bg' : '' ">PC</li>
                            <li ng-click="bluebgflagChange2(3)" ng-class="bluebgflag2 == 3 ? 'blue-bg' : '' ">APP</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="addUserMain-content">
                <div id="singleChart" style="height:400px"></div>
            </div>
            <div class="title-border" style="margin-top: 37px;">
                <div class="title-content">
                    <div class="title-content-left">
                        人均业绩明细
                    </div>
                    <div class="title-content-right">

                        <span class="blue exportBtn" onclick="exportTable('singleTable','人均业绩明细')">导出</span>
                    </div>
                </div>
            </div>
            <div class="box-body mailbox-messages">
                <table id="singleTable" class="table table-bordered table-hover">
                    <thead>
                    <tr ng-repeat="x in titleList1">
                        <td>{{x}}</td>
                    </tr>
                    <tr ng-repeat="x in tableList1">
                        <td>{{x}}</td>
                    </tr>
                    </thead>

                </table>
            </div>
        </div>

    </div>

</div>
<script>
    app.controller('AppController',function($scope,$http){
        $scope.bluebgStatus = 1;

        var firstDay = firstDate("yyyy-MM-dd");
        var now = new Date();
        var nowdate = now.format("yyyy-MM-dd");

        $scope.revenueStarttime1 = firstDay;
        $scope.revenueEndtime1 = nowdate;

        $scope.singleStarttime1 = firstDay;
        $scope.singleEndtime1 = nowdate;

        $('#revenueStarttime1').datepicker({
            format : 'yyyy-mm-dd'
        });
        $('#revenueEndtime1').datepicker({
            format : 'yyyy-mm-dd'
        });


        $('#singleStarttime1').datepicker({
            format : 'yyyy-mm-dd'
        });
        $('#singleEndtime1').datepicker({
            format : 'yyyy-mm-dd'
        });


        initPage($scope,$http);
        $scope.revenue();

    });
    angular.bootstrap(document.getElementById('App'),['App']);

    function initPage($scope,$http) {

        var firstDay = firstDate("yyyy-MM-dd");
        var now = new Date();
        var nowdate = now.format("yyyy-MM-dd");

        $scope.revenueChange = function(e){
            switch(e){
                case 1:
                    $scope.bluebgStatus = 1;
                    $(".right-model-content1").css("display","block").siblings().css("display","none");
                    $scope.revenue();
                    break;
                case 2:
                    $scope.bluebgStatus = 2;
                    $(".right-model-content2").css("display","block").siblings().css("display","none");
                    $scope.revenueSingle();
                    break;

            }

        };


        $scope.revenueChangeVal1 =function(){
            if($scope.revenueStarttime1 == ''){
                $scope.revenueStarttime1 = firstDay;
            }
            if($scope.revenueEndtime1 == ''){
                $scope.revenueEndtime1 = nowdate;
            }
            if($scope.revenueStarttime1 > $scope.revenueEndtime1){
                alert("开始时间不能大于结束时间!");
                $scope.revenueStarttime1 = firstDay;
                $scope.revenueEndtime1 = nowdate;

            }
            $scope.revenue();


        }

        $scope.revenueChangeVal2 =function(){
            if($scope.singleStarttime1 == ''){
                $scope.singleStarttime1 = firstDay;
            }
            if($scope.singleEndtime1 == ''){
                $scope.singleEndtime1 = nowdate;
            }
            if($scope.singleStarttime1 > $scope.singleEndtime1){
                alert("开始时间不能大于结束时间!");
                $scope.singleStarttime1 = firstDay;
                $scope.singleEndtime1 = nowdate;

            }
            $scope.revenueSingle();


        }


        $scope.revenue = function(){

            var dateData = {
                startDate:$scope.revenueStarttime1,
                endDate:$scope.revenueEndtime1,
                platformId:1

            };
            layer.load(1,{shade:0.3});
            $http.post(ctx + "/advertisement/statistic",dateData)
                .then(function(data){
                    //debugger;
                    if(data.data.success == false){

                    }else{
                        var titleList1 =  data.data.obj.titleList;
                        var tableList1 =  data.data.obj.tableList;

                        var xLineData =  data.data.obj.xList;
                        var y1LineData =  data.data.obj.yList['/pay/coupon'];
                        var y2LineData =  data.data.obj.yList['/pay/translatebag'];
                        var y3LineData =  data.data.obj.yList['/pay/upgradeMember'];


                        $scope.lineChart1(xLineData,y1LineData,y2LineData,y3LineData);

                        $scope.titleList1 = titleList1;
                        $scope.tableList1 = tableList1;
                    }

                    layer.closeAll();
                },function(data){
                	layer.closeAll();
                })

        }


        $scope.revenueSingle = function(){


            var dateData = {
                startDate:$scope.singleStarttime1,
                endDate:$scope.singleEndtime1,
                departId:revenueSelId2,
                platformId:$scope.revenuebgflag2

            };
            
            layer.load(1,{shade:0.3});
            $http.post(ctx + "/tuiguang/commission/departUnit",dateData)
                .then(function(data){
                    //debugger;
                    if(data.data.success == false){

                    }else{
                        //debugger;

                        var dataObj2 =  data.data.obj.tableList;
                        var xLineData = [];
                        var y1LineData = [];
                        var y2LineData = [];
                        var y3LineData = [];
                        var y4LineData = [];
                        var y5LineData = [];

                        for(var i = 0;i<dataObj2.length; i++){
                            xLineData.push(dataObj2[i].date);
                            y1LineData.push(dataObj2[i]._4);
                            y2LineData.push(dataObj2[i]._7);
                            y3LineData.push(dataObj2[i]._10);
                            y4LineData.push(dataObj2[i]._11);
                            y5LineData.push(dataObj2[i]._25);
                        }

                        $scope.lineChart2(allAgentName,xLineData,y1LineData,y2LineData,y3LineData,y4LineData,y5LineData);

                        $scope.dataObj2 = dataObj2;

                    }
                    layer.closeAll();

                },function(data){
                	layer.closeAll();
                })

        }


        $scope.lineChart1 = function(xLineData,y1LineData,y2LineData,y3LineData){
            // debugger;

            var myChart1 = echarts.init(document.getElementById('revenueChart'));

            var colors = ['#5793f3'];

            var option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        crossStyle: {
                            color: '#999'
                        }
                    }
                },
                // toolbox: {
                //     feature: {
                //         dataView: {show: true, readOnly: false},
                //         magicType: {show: true, type: ['line', 'bar']},
                //         restore: {show: true},
                //         saveAsImage: {show: true}
                //     }
                // },
                grid:{
                    bottom:'20%',//距离下边距
                },
                legend: {
                    data:['/pay/coupon','/pay/translatebag','/pay/upgradeMember'],
                    bottom:0
                },
                xAxis: [
                    {
                        type: 'category',
                        data: xLineData,
                        axisPointer: {
                            type: 'shadow'
                        }
                    }
                ],
                yAxis: [

                    {
                        type: 'value',

                        axisLine: {
                            show: false

                        }
                    },
                    {
                        type: 'value',

                        axisLine: {
                            show: false

                        }
                    },
                    {
                        type: 'value',

                        axisLine: {
                            show: false

                        }
                    }
                ],
                series: [
                    {
                        name:'/pay/coupon',
                        type:'line',
                        data:y1LineData
                    },
                    {
                        name:'/pay/translatebag',
                        type:'line',
                        data:y2LineData
                    },
                    {
                        name:'/pay/upgradeMember',
                        type:'line',
                        data:y3LineData
                    }
                ]
            };


            myChart1.setOption(option);

            window.onresize = function() {
                $('.addUserMain-content').width('100%');
                myChart1.resize();

            };


        }


        $scope.lineChart2 = function(allAgentName,xLineData,y1LineData,y2LineData,y3LineData,y4LineData,y5LineData){
            // debugger;

            var myChart2 = echarts.init(document.getElementById('singleChart'));

            var colors = ['#5793f3'];

            var option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        crossStyle: {
                            color: '#999'
                        }
                    }
                },

                // toolbox: {
                //     feature: {
                //         dataView: {show: true, readOnly: false},
                //         magicType: {show: true, type: ['line', 'bar']},
                //         restore: {show: true},
                //         saveAsImage: {show: true}
                //     }
                // },
                grid:{
                    bottom:'20%',//距离下边距
                },
                legend: {
                    data:allAgentName,
                    bottom:0
                },
                xAxis: [
                    {
                        type: 'category',
                        data: xLineData,
                        axisPointer: {
                            type: 'shadow'
                        }
                    }
                ],
                yAxis: [

                    {
                        type: 'value',

                        axisLine: {
                            show: false

                        }
                    },
                    {
                        type: 'value',

                        axisLine: {
                            show: false

                        }
                    },
                    {
                        type: 'value',

                        axisLine: {
                            show: false

                        }
                    },
                    {
                        type: 'value',

                        axisLine: {
                            show: false

                        }
                    },
                    {
                        type: 'value',

                        axisLine: {
                            show: false

                        }
                    }
                ],
                series: [
                    {
                        name:allAgentName[0],
                        type:'bar',
                        data:y1LineData
                    },
                    {
                        name:allAgentName[1],
                        type:'bar',
                        data:y2LineData
                    },
                    {
                        name:allAgentName[2],
                        type:'bar',
                        data:y3LineData
                    },
                    {
                        name:allAgentName[3],
                        type:'line',
                        data:y4LineData
                    },
                    {
                        name:allAgentName[4],
                        type:'line',
                        data:y5LineData
                    }
                ]
            };


            myChart2.setOption(option);

            window.onresize = function() {
                $('.addUserMain-content').width('100%');
                myChart2.resize();

            };


        }

    }
    // lineChart();




    function exportTable(tableid,tableName) {

        if (!!window.ActiveXObject || "ActiveXObject" in window){
            window.document.write(document.getElementById(tableid).outerHTML);
            window.document.execCommand("SaveAs",false,tableName + ".xls");
            history.go(-1);
        }
        else {
            var tb=document.getElementById(tableid);    //获取table对像
            var rows=tb.rows;
            var str="";
            for(var i=0;i<rows.length;i++){          //---循环--行---
                var cells=rows[i].cells;
                for(var j=0;j<cells.length;j++){   //---循环--列---
                    str=str+cells[j].innerText+",";
                }str=str+"\n";
            }
            console.log(str);
            str = encodeURIComponent(str);
            var uri = 'data:text/csv;charset=utf-8,\ufeff' + str;
            var downloadLink = document.createElement("a");
            downloadLink.href = uri;
            downloadLink.download = tableName + ".csv";
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
        }
    }


</script>


