
<div class="right-model user-participation">
    <div ng-controller="AppController" class="right-model-content">
        <div class="title-border">
            <div class="title-content">
                <div class="title-content-left">
                    新增用户趋势
                </div>
                <div class="title-content-right">
                    <span>
						<input type="text" id="starttime1" class="startTime" readonly ng-model="Date1" ng-change="changeVal()">至
                        <input type="text" id="endtime1" class="startTime" readonly ng-model="Date2" ng-change="changeVal()">
					</span>
                </div>
            </div>
        </div>
        <div class="addUserMain-content">
            <div id="addUserMain" style="height:400px"></div>
        </div>
        <div class="title-border">
            <div class="title-content">
                <div class="title-content-left">
                    新增用户明细
                </div>
                <div class="title-content-right">

                    <span class="blue exportBtn" onclick="exportTable('tableData')">导出</span>
                </div>
            </div>
        </div>
        <div class="box-body mailbox-messages">
            <table id="tableData" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>新增用户(占比)</th>
                        <th>活跃用户</th>
                        <th>新增活跃用户(占比)</th>
                    </tr>

                    <tr ng-repeat="x in tableData">

                        <td>{{x.statisticDate}}</td>
                        <td>{{x.userIncreaseCount}}({{x.userIncreasePercent}})</td>
                        <td>{{x.activeUserCount}}</td>
                        <td>{{x.userIncreaseActiveCount}}({{x.activeUserPercent}})</td>

                    </tr>
                </thead>

            </table>
            <!--<div id="userPages"></div>-->
        </div>


    </div>
</div>
<script>

    app.controller('AppController',function($scope,$http){
        // $scope.name='笑话';
        // $scope.price='99';

        var firstDay = firstDate("yyyy-MM-dd");
        var now = new Date();
        var nowdate = now.format("yyyy-MM-dd");

        $scope.Date1 = firstDay;
        $scope.Date2 = nowdate;

        $('#starttime1').datepicker({
            format : 'yyyy-mm-dd'
        });
        $('#endtime1').datepicker({
            format : 'yyyy-mm-dd'
        });


        initPage($scope,$http);
        $scope.getChartDate();



    });
    angular.bootstrap(document.getElementById('App'),['App']);

    function initPage($scope,$http){
        var firstDay = firstDate("yyyy-MM-dd");
        var now = new Date();
        var nowdate = now.format("yyyy-MM-dd");


        $scope.getChartDate = function(){
            var dateData = {
                startDate:$scope.Date1,
                endDate:$scope.Date2

            };
            layer.load(1, {shade: 0.3});
            $http.post(ctx + "/participate/userIncrease",dateData)
                .then(function(data){
                	 layer.closeAll();
                    if(data.data.success == false){

                    }else{
                        // debugger;

                        var xLineData = data.data.obj.xList;
                        var yLineData = data.data.obj.yList;
                        lineChart(xLineData,yLineData);
                        $scope.tableData = data.data.obj.tableList;

                        //分页
                        // var totalPages;
                        // if(totalPages % 10 == 0){
                        //     totalPages = totalPages / 10;
                        // }else{
                        //     totalPages = parseInt(totalPages / 10) + 1;
                        // }
                        //
                        // $('#userPages').pagination({
                        //     pageCount: totalPages,
                        //     totalData: resData.data.recordsTotal,
                        //     showData: resData.data.length,
                        //     isHode: true,
                        //     jump: true,
                        //     coping: true,
                        //     keepShowPN: true,
                        //     current: 1,
                        //     count: 3,
                        //     prevContent: '<上一页',
                        //     nextContent: '下一页>',
                        //     jumpIptCls: '跳转到',
                        //     jumpBtn: '确定',
                        //     callback: function (api) {
                        //         console.log(api)
                        //         var pageData = {
                        //             start: api.getCurrent(),
                        //             length: 10,
                        //         }
                        //         $http({
                        //             method: 'post',
                        //             dataType: "json",
                        //             // headers: {'Content-Type': 'application/json'},
                        //             url: ctx + "/participate/userIncrease",
                        //             data: JSON.stringify(pageData),
                        //             cache: false,
                        //         }).then(function (data) {
                        //             console.log(data)
                        //         }, function () {
                        //             console.log("pageError");
                        //         })
                        //     }
                        // })







                    }


                },function(data){

                })

        }

        $scope.changeVal =function(){
            if($scope.Date1 == ''){
                $scope.Date1 = firstDay;
            }
            if($scope.Date2 == ''){
                $scope.Date2 = nowdate;
            }
            if($scope.Date1 > $scope.Date2){
                alert("开始时间不能大于结束时间!");
                $scope.Date1 = firstDay;
                $scope.Date2 = nowdate;
            }
            $scope.getChartDate();


        }







    }
    function lineChart(xLineData,yLineData){
        var myChart = echarts.init(document.getElementById('addUserMain'));

        var colors = ['#5793f3'];

        var option = {
            color: colors,

            tooltip: {
                trigger: 'none',
                axisPointer: {
                    type: 'cross'
                }
            },
            // legend: {
            //     data: ['今日', '昨日', '7天前', '30天前']
            // },
            grid: {
                top: 70,
                bottom: 70
            },

            xAxis: {
                type: 'category',
                show: true,
                // boundaryGap: false,
                data: xLineData

            },


            yAxis: [{
                type: 'value',
                axisLine: {
                    show: false

                },
                axisTick: {
                    show: false
                }
            }],
            series: [
                {
                    name: '今日',
                    type: 'line',

                    data: yLineData
                }
            ]
        };

        myChart.setOption(option);


        window.onresize = function() {
            $('.addUserMain-content').width('100%');
            myChart.resize();
        };

    }

    function exportTable(tableid) {

        if (!!window.ActiveXObject || "ActiveXObject" in window){
            window.document.write(document.getElementById(tableid).outerHTML);
            window.document.execCommand("SaveAs",false,"新增用户明细.xls");
            history.go(-1);
        }
        else {
            var tb=document.getElementById(tableid);    //获取table对像
            var rows=tb.rows;
            var str="";
            for(var i=0;i<rows.length;i++){          //---循环--行---
                var cells=rows[i].cells;
                for(var j=0;j<cells.length;j++){   //---循环--列---
                    str=str+cells[j].innerText+",";
                }str=str+"\n";
            }
            console.log(str);
            str = encodeURIComponent(str);
            var uri = 'data:text/csv;charset=utf-8,\ufeff' + str;
            var downloadLink = document.createElement("a");
            downloadLink.href = uri;
            downloadLink.download = "新增用户明细.csv";
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
        }
    }





</script>
