<section class="content-header">
    <h1>系统设置<small></small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
        <li>用户管理</li>
        <li class="active">密码修改</li>
    </ol>
</section>

<form role="form">
	<div class="box-body">
		<div class="form-group">
			<label for="exampleInputPassword1">旧密码</label> <input type="password"
				class="form-control" id="oldPwd" placeholder="旧密码">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">新密码</label> <input type="password"
				class="form-control" id="newPwd" placeholder="新密码">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">新密码确认</label> <input
				type="password" class="form-control" id="newPwd2"
				placeholder="新密码确认">
		</div>
	</div>
	<!-- /.box-body -->

	<div class="box-footer">
		<button type="button" class="btn btn-primary" field="pwdTj">提交</button>
	</div>
</form>

<script>
$('.box-footer').find('[field="pwdTj"]').click(function(){
	var oldPwd=$.trim($("#oldPwd").val());
	var newPwd=$.trim($("#newPwd").val());
	var newPwd2=$.trim($("#newPwd2").val());
	$("#oldPwd").val(oldPwd);
	$("#newPwd").val(newPwd);
	$("#newPwd2").val(newPwd2);	
	
	if(oldPwd==""||newPwd==""||newPwd2==""){
		$.msg("密码修改时所有输入项不可为空！");
		return;
	}
	if(newPwd!=newPwd2){
		$.msg("两次密码输入不一致，请重新输入！");
		$("#newPwd").val("");
		$("#newPwd2").val("");
		return;
	}
	if(!CheckPassWord(newPwd)){
		$.msg("密码必须包含数字和字母，长度不小于8，不大于20，请重新输入！");
		return;
	}
	//执行密码修改接口
	var url="Account/updPwd";
	doPost(url,{oldPwd:oldPwd,newPwd:newPwd}, succHd, errorHd);
});
function succHd(data){
	$.msg(data.msg);
	if(data.success){
		$("#oldPwd").val("");
		$("#newPwd").val("");
		$("#newPwd2").val("");
	}
}
function errorHd(xreq){	
	$.msg(xreq.statusText+"["+xreq.status+"]");
}
</script>
