<style>
.log {height: 300px;  overflow: auto;  border: solid 1px #ccc;   padding: 4px;}
#chatcontent { padding-left: 0; }
#memberemailcontent { padding-left: 0; }
.log li { margin-bottom:20px;    list-style-type: none;  }
.service {  text-align: right; }
</style>

<section class="content-header">
    <h1>反馈管理<small></small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
        <li>其他管理</li>
        <li class="active">反馈管理</li>
    </ol>
</section>
<section class="content-main">
    <div class="row">
      <div class="col-xs-12">
          <div class="box">
          
           <form class="form-horizontal">
              <div class="box-body">
                
                <div class="form-group">
                  <label for="membNo" class="col-sm-2 control-label">会员：</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="membnoornickname" placeholder="昵称/GAGA号" >
                  </div>
                </div>
                
                <div class="form-group">   
                  <label for="sendDate" class="col-sm-2 control-label">主题：</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="them">
                  </div>             
                </div>
                
                <div class="form-group">   
                  <label for="content" class="col-sm-2 control-label">状态：</label>
                  <div class="col-sm-10">
                     <select name="example1_length" aria-controls="example1" id="state" class="form-control input-sm">
	          		<option value="">不限</option>
	          		<option value="1">未读</option>
	          		<option value="2">已读</option>
	          	</select>
                  </div>             
                </div>
                
                <div class="form-group">
                  <label for="membNo" class="col-sm-2 control-label">创建时间:</label>
                  <div class="col-sm-10">
                    <input type="text" id="starttime">至<input type="text" id="endtime">
                  </div>
                </div>
                
                <div class="form-group">   
                  <label for="sendDate" class="col-sm-2 control-label">email：</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="email">
                  </div>             
                </div>
                
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
               <button type="button" onclick="search()" class="btn btn-primary">查询</button>
              <button type="button" onclick="batchdel()" class="btn btn-primary">删除</button>
              <button type="button" onclick="refreshdata()" class="btn btn-primary">刷新</button>
              </div>
              <!-- /.box-footer -->
            </form>
          
           <!--    <div class="box-header">
              <label>会员:<input type="search" id="membnoornickname" class="form-control input-sm" placeholder="GaGa号/昵称" aria-controls="example1"></label>
              <label>主题:<input type="search" id="them" class="form-control input-sm" placeholder="" aria-controls="example1"></label>
              <label>状态 
	          	<select name="example1_length" aria-controls="example1" id="state" class="form-control input-sm">
	          		<option value="">不限</option>
	          		<option value="1">未读</option>
	          		<option value="2">已读</option>
	          	</select></label>
	          <label>创建时间<input type="text" id="starttime">至<input type="text" id="endtime"></label>
	          <label>email:<input type="search" id="email" class="form-control input-sm" placeholder="" aria-controls="example1"></label>
	          <button type="button" onclick="search()" class="btn btn-primary">查询</button>
              <button type="button" onclick="batchdel()" class="btn btn-primary">删除</button>
              <button type="button" onclick="refreshdata()" class="btn btn-primary">刷新</button>
              </div> -->
              
              <!-- /.box-header -->
              <div class="box-body mailbox-messages">
                <table id="feedback" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th><button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button></th>
                    <th>序号</th>
                    <th>昵称</th>
                    <th>GAGA号</th>
                    <th>邮箱</th>
                    <th>主题</th>
                    <th class="WPer30">内容</th>
                    <th>创建时间</th>
                    <th>状态</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                  
                </table>
              </div>
              <!-- /.box-body -->
            </div>
           
          <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>   
</section>


<div class="modal fade" id="Modal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="ModalLabel">
            </h4>
         </div>
         <div class="modal-body" id="bodycontent">
            	<!-- 在这里添加一些文本 -->
         </div>
         <div class="modal-footer" id="modalbutton">
            
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title">
           		 提示
            </h4>
         </div>
         <div class="modal-body" id="errorbodycontent">
            	<!-- 在这里添加一些文本 -->
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>



<script type="text/javascript">
$(function() {
	 $('#starttime').datepicker({format: 'yyyy-mm-dd'});
	  $('#endtime').datepicker({format: 'yyyy-mm-dd'});
	
    $.addFields(['/plugins/datatables/jquery.dataTables.min.js', '/plugins/datatables/dataTables.bootstrap.min.js', '/plugins/iCheck/icheck.min.js'], function() {
        $("#feedback").dataTable({
            "bStateSave": true,
            "paging": true,
            //"processing": true,
            "serverSide": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "pageLength": 10,
            //"ajax" : ctx+"/adminmember/notauditedimgList",
            "fnServerData": function(sSource, aoData, fnCallback, oSettings) {
                var membnoornickname = $("#membnoornickname").val();
                var them = $("#them").val();
                var state = $("#state").val();
                var starttime = $("#starttime").val();
                var endtime = $("#endtime").val();
                var email = $("#email").val();
                aoData.push({
                        "name": "membnoornickname",
                        "value": membnoornickname
                    },{
                        "name": "them",
                        "value": them
                    },{
                        "name": "state",
                        "value": state
                    },{
                        "name": "starttime",
                        "value": starttime
                    },{
                        "name": "endtime",
                        "value": endtime
                    },{
                        "name": "email",
                        "value": email
                    }) 
                    //aoData=gagaidorname; 
                    layer.load(1, {shade: 0.3});
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": ctx + "/feedback/feedlist",
                    "data": aoData,
                    "success": fnCallback
                });
            },
            "columns": [{
                "data": "sfbaId",
                "bSortable": false
            }, {
                "data": "sfbaId",
                "bSortable": false
            },{
                "data": "member.membNickname",
                "bSortable": false
            }, {
                "data": "member.membGagano",
                "bSortable": false
            }, {
                "data": "sfbaEmail",
                "bSortable": false
            }, {
                "data": "sfbaTheme",
                "bSortable": false
            }, {
                "data": "sfbaContent",
                "bSortable": false
            }, {
                "data": "sfbaTime",
                "bSortable": false
            }, {
                "data": "sfbaState",
                "bSortable": false
            }, {
                "data": "sfbaId",
                "bSortable": false
            }],
            "columnDefs": [{
                "targets": 0,
                "data": "sfbaId",
                "render": function(data, type, full, meta) {
                    return '<input type="checkbox" value="' + data + '" title="' + data + '" name="checkbox" />';
                }
            },{
                "targets": 2,
                "data": "member.membNickname",
                "render": function(data, type, full, meta) {
                	if(data==''||data==null){
                		return "";
                	}else{
                		return data;
                	}
                }
            },{
                "targets": 3,
                "data": "member.membGagano",
                "render": function(data, type, full, meta) {
                	if(data==''||data==null){
                		return "";
                	}else{
                		return data;
                	}
                }
            },{
                "targets": 4,
                "data": "sfbaEmail",
                "render": function(data, type, full, meta) {
                	if(data==''||data==null){
                		return "";
                	}else{
                		return data;
                	}
                }
            },{
                "targets": 6,
                "data": "sfbaContent",
                "render": function(data, type, full, meta) {
                	if(data==''||data==null){
                		return "";
                	}else{
                		return data;//.replace("{#img#}",qiniu);
                	}
                }
            },{
                "targets": 7,
                "data": "sfbaTime",
                "render": function(data, type, full, meta) {
                	if(data==null||data==''){
                		return "";
                	}else{
	                	var date = new Date(data);
    	    	    	return date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();
                	}
                }
            },{
                "targets": 8,
                "data": "sfbaState",
                "render": function(data, type, full, meta) {
                	if(data==1){
                		return "未读";
                	}else{
                		return "已读";
                	}
                }
            },{
                "targets": 9,
                "data": "sfbaId",
                "render": function(data, type, full, meta) {
                	var html='<a href="javascript:void(0)" onclick="sentemail('+full.sfbaGagaid+',1,'+data+')">邮件回复</a><br>';
			 	 	return html;
                }
            }],
            "fnDrawCallback": function(oSettings) { //这个应该是重绘的回调函数
                $(".mailbox-messages input[type='checkbox']").iCheck({
                    checkboxClass: 'icheckbox_flat-blue',
                    radioClass: 'iradio_flat-blue'
                });
                layer.closeAll();
            }
        });
        
        //序号相关
        var table = $('#feedback').DataTable();
        table.on( 'order.dt search.dt', function () {
        	//获取页信息
        	//debugger
        	var page=table.page.info();
         	table.column(1, {}).nodes().each( function (cell, i) {
                 cell.innerHTML =page.page*page.length+ i+1;
             } );
         } ).draw();
        
        
        $(".checkbox-toggle").click(function() {
            var clicks = $(this).data('clicks');
            if (clicks) {
                //$("#imgdata input[type='checkbox']").attr("checked",false);
                //Uncheck all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
            } else {
                //$("#imgdata input[type='checkbox']").attr("checked",true);
                //Check all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("check").add("checked");
                $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
            }
            $(this).data("clicks", !clicks);
        });
    });
});
//批量操作  1 审核  2 封IP   3  重置
function batchdel() {
    var gagaid = "";
    var num = 0;
    var objs = $("#feedback div");
    for (var i = 0; i < objs.length; i++) {
        var obj = objs[i];
        var flag = $(obj).attr("aria-checked");
        if (flag == "true") {
            if (gagaid.trim() != "") {
                num += 1;
                gagaid += ","
            }
            gagaid += $(obj).children("input").attr("value");
        }
    }
    if (gagaid.trim() == "") {
    	$("#errorbodycontent").html("请选择需要删除的数据");
		   $('#errorModal').modal({
				keyboard : true
			});
        return;
    }
   
    $.ajax({
        type: "post",
        url: ctx + "/feedback/delfeed",
        dataType: "json",
        data: {
            "fids": gagaid
        },
        success: function(data) {
            if (data.success) {
                $("#feedback").dataTable().fnDraw(true);
            } else {
            	$("#errorbodycontent").html("删除失败");
     		   $('#errorModal').modal({
     				keyboard : true
     			});
            }
        }
    });
}
//刷新
function refreshdata() {
	var membnoornickname = $("#membnoornickname").val("");
    var them = $("#them").val("");
    var state = $("#state").val("");
    var starttime = $("#starttime").val("");
    var endtime = $("#endtime").val("");
    var email = $("#email").val("");
    $("#feedback").dataTable().fnDraw(true)
}

function search() {
    $("#feedback").dataTable().fnDraw(true);
}


//站内信
function sentmail(id,type,fid){
	  if(type==1){
		   $("#ModalLabel").text("IM");
		   $.ajax({
				type : "post",
				url : ctx+"/feedback/getmember1",
				dataType : "json",
				data : {
					"gagaid":id,
					"state":2,
					"fid":fid
				},
				success : function(data) {
					if(data.success){
						$("#mailreceiver").val(data.obj.membNickname+"("+data.obj.membGagano+")");
						$("#receivergagaid").val(data.obj.membGagaid);
						//获取聊天记录
						var str = '';
						for (var i = 0; i < data.attributes.beans.length; i++) {
							var item = data.attributes.beans[i];
							str += '<li class="'+(item.sentNo==-1?'service':'')+'">';
							if (item.sentNo==-1){
								str += (new Date(item.sentTime).format('yyyy-MM-dd hh:mm:ss'))+'  '+item.sentName;
							} else {
								str += item.sentName + '  '+(new Date(item.sentTime).format('yyyy-MM-dd hh:mm:ss'));
							}
							if(item.img==""){   //如果不判断,文字后面会加个.(句号)
								str += '<br>'+item.content+'</li>';
							}else{	
							str += '<br>'+item.content+'<img style="width:100px;" alt="" src="' +item.img + '"></li>';
							}
						}
						$("#chatcontent").html(str);
						
						
					}
				}
			})
		   //$("#mailsender").val('GaGaHi');
		   $("#mailcontent").val('');
		   var content = '<div class="log"><ul id="chatcontent"></ul></div><br><br>'+
			   '<span>发件人：</span><input type="text" readonly class="widthPer70" id="mailsender" value="GaGaHi"><br><br>'+
		   '<span>收件人：</span><input type="text" readonly class="widthPer70" id="mailreceiver"><input type="hidden" id="receivergagaid"><br><br>'+
		   '<span>内容：</span><span><textarea rows="3" cols="" class="vertical-top widthPer70" id="mailcontent"></textarea></span>';
		   $("#bodycontent").html(content);
		   
		   $("#modalbutton").html('<button type="button" onclick="sentmail('+id+',2,'+fid+')" class="btn btn-primary">发送  </button><button type="button" class="btn btn-default" data-dismiss="modal">取消</button>');
		   $('#Modal').modal({
			      keyboard: true
		   });
	   }
	  if(type==2){
		  var content = $("#mailcontent").val();
		  var gagaid = $("#receivergagaid").val();
		  if(content==''){
			  $("#errorbodycontent").html("请输入发送内容");
			   $('#errorModal').modal({
					keyboard : true
				});
			//$("#Modal").modal('hide');
		  }else{
			  //发送站内信
			 $.ajax({
					type : "post",
					url : ctx+"/feedback/sentmsg",
					dataType : "json",
					data : {
						"gagaid":gagaid,
						"content":content,
						"state":"2",
						"fid":fid
					},
					success : function(data) {
						$("#errorbodycontent").html("发送成功");
						   $('#errorModal').modal({
								keyboard : true
							});
						$("#Modal").modal('hide');
            		$("#feedback").dataTable().fnDraw(false);
					}
				})
		  }
	  }
}
 //发邮件
function sentemail(id,type,fid){
	  if(type==1){
		   $("#ModalLabel").text("发邮件");
		   
		   
		   var content =  '<div class="log"><ul id="memberemailcontent"></ul></div><br><br>'+
			   '<span>邮箱：</span><input type="text" class="widthPer70" id="sentemail"><br><br>'+
		   '<span>主题：</span><input type="text" class="widthPer70" id="emailtheme"><br><br>'+
		   '<span>内容：</span><span><textarea rows="3" cols="" class="vertical-top widthPer70" id="emailconten"></textarea></span>';
		   $("#bodycontent").html(content);
		   $("#modalbutton").html('<button type="button" onclick="sentemail('+id+',2,'+fid+')" class="btn btn-primary">发送  </button><button type="button" class="btn btn-default" data-dismiss="modal">取消</button>');
		   $.ajax({
				type : "post",
				url : ctx+"/feedback/getEmailRecord",
				dataType : "json",
				data : {
					"gagaid":id,
					"state":2,
					"fid":fid
				},
				success : function(data) {
					if(data.success){
					
						$("#sentemail").val(data.obj.membEmail);
					
						if(data.attributes.feedbacks.length > 0){
							var length=data.attributes.feedbacks.length-1;
							var variable1=data.attributes.feedbacks[length].sfbaEmail;
							$("#sentemail").val(variable1);
							}
					
						//获取聊天记录
						var str = '';
						for (var i = 0; i < data.attributes.feedbacks.length; i++) {
							var item = data.attributes.feedbacks[i];
							str += '<li class="">';
						
							str += item.sfbaNickname + '  '+(new Date(item.sfbaTime).format('yyyy-MM-dd hh:mm:ss'));
							str += '<br>主题:'+item.sfbaTheme+'';
							str += '<br>内容:'+item.sfbaContent+'</li>';
						}
						$("#memberemailcontent").html(str);
						
					}
				}
			})
		  
		   $('#Modal').modal({
			      keyboard: true
		   });
	   }else{
		   //发送
		   var email = $("#sentemail").val();
		   var emailtheme = $("#emailtheme").val();
		   var emailconten = $("#emailconten").val();
		   $.ajax({
				type : "post",
				url : ctx+"/feedback/emailsent",
				dataType : "json",
				data : {
					"email":email,
					"emailtheme" : emailtheme,
					"emailconten" : emailconten,
					"state":2,
					"fid":fid
				},
				success : function(data) {
					if(!data.success){
						$("#errorbodycontent").html("发送失败");
			     		   $('#errorModal').modal({
			     				keyboard : true
			     			});
					}else{
						$("#errorbodycontent").html("发送成功");
						$("#feedback").dataTable().fnDraw(false);
			     		   $('#errorModal').modal({
			     				keyboard : true
			     			});
						$("#Modal").modal('hide');
					}
				}
			})
	   }
}
    
//大图预览
    $("#feedback").delegate("img","click",function(){
        var imgURL = $(this).attr("src");
        layer.open({
           title:"预览",
           type: 1, 
           maxWidth:"650",
           content: "<img class='img-preview' src="+imgURL+">"
         });
    })
</script>

