<style type="text/css">
.add-gift-t td { padding: 5px; }
.add-gift-t td .labels { display: inline-block; width: 70px; }
.datepicker { z-index: 1051 !important; }
</style>
<section class="content-header">
	<h1>
		礼物分类<small></small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
		<li>全局配置</li>
		<li class="active">礼物分类</li>
	</ol>
</section>

<section class="content-main">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<!-- 头部操作菜单 -->
				<form class="form-horizontal">
					<div class="box-footer">
						<button type="button" class="btn btn-primary" onclick="openAdd()">添加</button>
						<button type="button" class="btn btn-primary" onclick="batchdel(false)">删除</button>
						<button type="button" class="btn btn-primary" onclick="gotogrlist()">返回真实礼物</button>
						<button type="button" class="btn btn-primary" onclick="reload()">刷新</button>
						
						<input type="text" id="key" >
						<button type="button" class="btn btn-primary" onclick="search()">搜索</button>
					</div>
				</form>

				<!-- 列头 -->
				<div class="box-body mailbox-messages">
					<table id="privatemodellist" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>
									<button class="btn btn-default btn-sm checkbox-toggle">
										<i class="fa fa-square-o"></i>
									</button>序号
								</th>
								<th>分类名称（中文）</th>
								<th>繁体中文</th>
								<th>한국어</th>
								<th>日本語</th>
								<th>English</th>
								<th>Deutsch</th>
								<th>Pусский</th>
								<th>Español</th>
								<th>排序</th>
								<th>促销手段</th>
								<th>促销时段</th>
								<th>描述</th>
								<th>操作</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- 编辑弹窗 -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="ModalLabel"></h4>
			</div>
			<div class="modal-body" id="bodycontent">
				<!-- 在这里添加一些文本 -->
			</div>
			<div class="modal-footer" id="modalbutton"></div>
		</div>
	</div>
</div>

<!-- 提示弹窗 -->
<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="ModalLabel1"></h4>
			</div>
			<div class="modal-body" id="bodycontent1">
				<!-- 在这里添加一些文本 -->
			</div>
			<div class="modal-footer" id="modalbutton1"></div>
		</div>
	</div>
</div>


<script type="text/javascript">
/**
 * 查询
 */

function search(){
	$("#privatemodellist").dataTable().fnDraw(true);
}

function gotogrlist(){
	 window.location.href = ctx + "/welcome.html?po=11"; 
}

/**
 * 刷新
 */
function reload(){
	window.location.reload();//刷新当前页面.
}

$(function() {
	$.addFields(['/plugins/datatables/jquery.dataTables.min.js', '/plugins/datatables/dataTables.bootstrap.min.js', '/plugins/iCheck/icheck.min.js'], function() {
        $("#privatemodellist").dataTable({
        	"bStateSave": true,
        	"paging": true,
            "serverSide": true,
            "lengthChange": false,
            "searching": false,
            "info": true,
            "autoWidth": false,
            "ordering": true,
            "pageLength":10,//分页长度
	        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
	            var key = $("#key").val();
	        	aoData.push(
	       			{"name":"key","value":key}
       			);
	        	layer.load(1, {shade: 0.3});
	        	oSettings.jqXHR = $.ajax( {
	              "dataType": 'json',
	              "type": "POST",
	              "url": ctx+"/GiftCategory/list",
	              "data": aoData,
	              "success": fnCallback
	        	});
	        },
	        "columns": [//排序、赋值
                {"data": "gicaId","bSortable": false },
   				{"data": "zhcnGC.gicaName","bSortable": false},
   				{"data": "zhtwGC.gicaName","bSortable": false},
   				{"data": "enusGC.gicaName","bSortable": false},
   				{"data": "dedeGC.gicaName","bSortable": false},
   				{"data": "esesGC.gicaName","bSortable": false},
   				{"data": "ruruGC.gicaName","bSortable": false},
   				{"data": "jajpGC.gicaName","bSortable": false},
   				{"data": "kokrGC.gicaName","bSortable": false},
   				{"data": "gicaSort","bSortable": false},
   				{"data": "gicaDiscount","bSortable": false},
   				{"data": "gicaStime","bSortable": false},
   				{"data": "gicaDescription","bSortable": false},
   				{"data": "gicaId","bSortable": false}
	        ],
	        "columnDefs": [{//特殊数据
	        		"targets": 0,//复选框
					"data": "gicaId",
					"render": function ( data, type, full, meta ) {
						 return '<input type="checkbox" value="' + data + '" title="' + data + '" name="checkbox" class="checkbox" />';    
				}},
				
				{
	        		"targets": 1,
					"render": function ( data, type, full, meta ) {
						 if(null == data || $.trim(data).length <= 0){
							 return "";
						 }else{
							 return data;
						 }
				}},
				{
	        		"targets": 2,
					"render": function ( data, type, full, meta ) {
						 if(null == data || $.trim(data).length <= 0){
							 return "";
						 }else{
							 return data;
						 }
				}},
				{
	        		"targets": 3,
					"render": function ( data, type, full, meta ) {
						 if(null == data || $.trim(data).length <= 0){
							 return "";
						 }else{
							 return data;
						 }
				}},
				{
	        		"targets": 4,
					"render": function ( data, type, full, meta ) {
						 if(null == data || $.trim(data).length <= 0){
							 return "";
						 }else{
							 return data;
						 }
				}},
				{
	        		"targets": 5,
					"render": function ( data, type, full, meta ) {
						 if(null == data || $.trim(data).length <= 0){
							 return "";
						 }else{
							 return data;
						 }
				}},
				{
	        		"targets": 6,
					"render": function ( data, type, full, meta ) {
						 if(null == data || $.trim(data).length <= 0){
							 return "";
						 }else{
							 return data;
						 }
				}},
				{
	        		"targets": 7,
					"render": function ( data, type, full, meta ) {
						 if(null == data || $.trim(data).length <= 0){
							 return "";
						 }else{
							 return data;
						 }
				}},
				{
	        		"targets": 8,
					"render": function ( data, type, full, meta ) {
						 if(null == data || $.trim(data).length <= 0){
							 return "";
						 }else{
							 return data;
						 }
				}},
				
	        	{
	        		"targets": 11,//活动时间  hh:mm:ss
					"data": "diphId",
					"render": function ( data, type, full, meta ) {
						 return (new Date(data).format('yyyy-MM-dd')) + ' 至 ' + (new Date(full.gicaEtime).format('yyyy-MM-dd'));
				}},
				
				{
	        		"targets": 12,
					"render": function ( data, type, full, meta ) {
						 if(null == data || data.length <= 0){
							 return "";
						 }else{
							 return data;
						 }
				}},
				
				{
	        		"targets": 13,//操作
					"data": "diphId",
					"render": function ( data, type, full, meta ) {
						 return ' <a href="javascript:void(0)" onclick="openEdit(\''+ data +'\')">编辑</a>';
				}}
			],
            "fnDrawCallback": function(oSettings) { //这个应该是重绘的回调函数
            	$(".mailbox-messages input[type='checkbox']").iCheck({
	            	checkboxClass: 'icheckbox_flat-blue',
	                radioClass: 'iradio_flat-blue'
	            });
	            layer.closeAll();
            }
	    });
		$(".checkbox-toggle").click(function() {//复选框全选/反选
			var clicks = $(this).data('clicks');
			if (clicks) {
			    $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
			    $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
			} else {
			    $(".mailbox-messages input[type='checkbox']").iCheck("check").add("checked");
			    $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
			}
			$(this).data("clicks", !clicks);
		});
        //序号相关
        var table = $('#privatemodellist').DataTable();
        table.on( 'order.dt search.dt', function () {
        	//获取页信息
        	var page=table.page.info();
         	table.column(0, {}).nodes().each( function (cell, i) {
                 cell.innerHTML += page.page*page.length+ i+1;
            });
        }).draw();
   });
});

/**
 *	批量删除
 *	sign	标志true 不再提示是否删除
 */
function batchdel(sign) {
	var diphid = "";
	
	var objs = $("#privatemodellist div");
    for (var i = 0; i < objs.length; i++) {
        var obj = objs[i];
        var flag = $(obj).attr("aria-checked");
        if (flag == "true") {
            if (diphid.trim() != "" && $.trim(diphid).length > 0) {
            	diphid += ","
            }
            diphid += $(obj).children("input").attr("value");
        }
    }
 	if(null == diphid || diphid.length <= 0){
		$("#ModalLabel").text("提示");
		$("#bodycontent").html('<span>请先选中要删除的数据！</span>');
		$("#modalbutton").html('<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>');
		$('#Modal').modal({
		    keyboard: true
		});
		return;
 	}
    
    if(!sign){
		$("#ModalLabel").text("删除模板");
		$("#bodycontent").html('<span>确定要删除所选项吗？</span>');
		$("#modalbutton").html('<button type="button" onclick="batchdel(true)" class="btn btn-primary">确定</button><button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>');
		$('#Modal').modal({
		    keyboard: true
		});
		return;
    }
    
    
    $.ajax({
        type: "post",
        url: ctx + "/GiftCategory/delcheck",
        dataType: "json",
        data: {"gids": diphid},
        success: function(data) {
            if (!data.success) {
            	$("#ModalLabel").text("提示");
        		$("#bodycontent").html('<span>该分类下还有礼物，删除分类后该分类下的礼物也会同时被删除，确认删除该分类？</span>');
        		$("#modalbutton").html('<button type="button" onclick="del('+ diphid +')" class="btn btn-primary">确定 </button><button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>');
        		$('#Modal').modal({
        		    keyboard: true
        		});
            }else{
            	del(diphid);
            }
        }
    });
    
}

/***
 * 校验成功后直接删除
 */
function del(diphid){
	$.ajax({
        type: "post",
        url: ctx + "/GiftCategory/del",
        dataType: "json",
        data: {"gids": diphid},
        success: function(data) {
            if (data.success) {
            	$("#privatemodellist").dataTable().fnDraw(true);
            	$('#Modal').modal('hide');
            }else{
            	$("#privatemodellist").dataTable().fnDraw(true);
            	$('#Modal').modal('hide');
            	
            	$("#ModalLabel").text("提示");
        		$("#bodycontent").html('<span>数据异常！请重试！</span>');
        		$("#modalbutton").html('<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>');
        		$('#Modal').modal({
        		    keyboard: true
        		});
            }
        }
    });
}





/**
 * 打开新增窗口
 */
function openAdd(){
	var count = "";
	var gcid = "";
	$.ajax({
        type: "post",
        url: ctx + "/GiftCategory/openAdd",
        dataType: "json",
        async: false,
        //data: {"grimRealgift": grimRealgift},
        success: function(data) {
        	 if (data.success) {
        		 gcid = data.obj.gireGiftid;
        	 }
        }
    });
	
	count += "<table><tr><td>ID:"+ gcid +"</td><input type='hidden' id='gicaId' value='"+ gcid +"'></tr></table>";
	
	count +="<table class='add-gift-t'>";
	count += "<tr><td >名称:</td><td><span class='labels'><font style='color:red'>*</font>简体中文</span><input type='text' id='zh_cn'/></td>"
			+"<td><span class='labels'><font style='color:red'>*</font>英语</span><input type='text' id='en_us'/></td></tr>";
	count += "<tr><td rowspan='3'></td><td><span class='labels'>繁体中文</span><input type='text' id='zh_tw'/></td><td><span class='labels'>한국어</span><input type='text' id='ko_kr'/></td></tr>";
	count += "<tr><td><span class='labels'>日本語</span><input type='text' id='ja_jp'/></td><td><span class='labels'>Deutsch</span><input type='text' id='de_de'/></td></tr>";
	count += "<tr><td><span class='labels'>Pусский</span><input type='text' id='ru_ru'/></td><td><span class='labels'>Español</span><input type='text' id='es_es'/></td></tr>";
	count +="</table>";
	
	count += "<table class='add-gift-t'>";
	count +="<tr><td>促销手段:</td><td><input id='gicaDiscount' type='text'/></td><td><input type='checkbox' id='gicaIsdiscount'/>开启打折</td></tr>";
	count +="<tr><td>促销时段:</td><td><input id='gicaStime' type='text'/></td><td>至<input id='gicaEtime' type='text'/>（utc时间）</td></tr>";
	count +="<tr><td>排序:</td><td><input id='gicaSort' type='text'/></td><td></td></tr>";
	count +="<tr><td>描述:</td><td colspan='2'><textarea id='gicaDescription'></textarea></td></tr>";
	count += "</table>";
	
	$("#ModalLabel").text("添加礼物分类");
	$("#bodycontent").html(count);
	$("#modalbutton").html('<button type="button" onclick="add(false)" class="btn btn-primary">保存 </button><button type="button" class="btn btn-default" data-dismiss="modal">取消</button>');
	$('#gicaStime').datepicker({format: 'yyyy-mm-dd'});
	$('#gicaEtime').datepicker({format: 'yyyy-mm-dd'});
	$('#Modal').modal({
	    keyboard: true
	});
}

/**
 * 新增
 * sign 标志（是否校验数据完整性）
 */
function add(sign){
	var gicaId = $("#gicaId").val();
	var zh_cn = $("#zh_cn").val();
	var en_us = $("#en_us").val();
	var zh_tw = $("#zh_tw").val();
	var ko_kr = $("#ko_kr").val();
	var ja_jp = $("#ja_jp").val();
	var de_de = $("#de_de").val();
	var ru_ru = $("#ru_ru").val();
	var es_es = $("#es_es").val();
	var gicaDiscount = $("#gicaDiscount").val();
	var gicaIsdiscount = $("#gicaIsdiscount").is(':checked')?"1":"2";//1 打折
	var gicaStime = $("#gicaStime").val();
	var gicaEtime = $("#gicaEtime").val();
	var gicaSort = $("#gicaSort").val();
	var gicaDescription = $("#gicaDescription").val();
	
	var gicaLanguage = ((null != zh_cn && $.trim(zh_cn).length > 0)?zh_cn:"") + ","
			+ ((null != en_us && $.trim(en_us).length > 0)?en_us:"") + ","
			+ ((null != zh_tw && $.trim(zh_tw).length > 0)?zh_tw:"") + ","
			+ ((null != ko_kr && $.trim(ko_kr).length > 0)?ko_kr:"") + ","
			+ ((null != ja_jp && $.trim(ja_jp).length > 0)?ja_jp:"") + ","
			+ ((null != de_de && $.trim(de_de).length > 0)?de_de:"") + ","
			+ ((null != ru_ru && $.trim(ru_ru).length > 0)?ru_ru:"") + ","
			+ ((null != es_es && $.trim(es_es).length > 0)?es_es:"");
	
	if(null == gicaId || $.trim(gicaId).length <= 0){
		$("#ModalLabel1").text("提示");
		$("#bodycontent1").html('<span>数据异常请重试！</span>');
		$("#modalbutton1").html('<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>');
		$('#Modal1').modal({
			keyboard: true
		});
		return;
	}
	
	if(null == zh_cn || $.trim(zh_cn).length <= 0 || null == en_us || $.trim(en_us).length <= 0){
		$("#ModalLabel1").text("提示");
		$("#bodycontent1").html('<span>请输入礼物名（中英必须输入）！</span>');
		$("#modalbutton1").html('<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>');
		$('#Modal1').modal({
		    keyboard: true
		});
		return;
	}
	
	if(null != gicaSort && $.trim(gicaSort).length > 0){
		var reg = /^[0-9]*$/;
		if (!reg.test(gicaSort)){
			$("#ModalLabel1").text("提示");
			$("#bodycontent1").html('<span>排序必须是正整数！</span>');
			$("#modalbutton1").html('<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>');
			$('#Modal1').modal({
			    keyboard: true
			});
			return;
		}
	}
	
	if(null != gicaDiscount && $.trim(gicaDiscount).length > 0){
		var reg = /^\d+(\.\d+)?$/;
		if (!reg.test(gicaDiscount)){
			$("#ModalLabel1").text("提示");
			$("#bodycontent1").html('<span>折扣必须为数字！</span>');
			$("#modalbutton1").html('<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>');
			$('#Modal1').modal({
			    keyboard: true
			});
			return;
		}
	}
	
	var url = "";
	var data = "";
	var edit = sign?"1":"2";
	url = ctx + "/GiftCategory/add";
	data = {"gicaId": gicaId,"gicaType":"1","gicaLanguage":gicaLanguage,"gicaIsdiscount":gicaIsdiscount,
	"gicaDiscount":gicaDiscount,"gicaStime":gicaStime,"gicaEtime":gicaEtime,
	"gicaDescription":gicaDescription,"gicaSort":gicaSort,"edit":edit}
	
	$.ajax({
		type: "post",
		url: url,
		dataType: "json",
		data: data,
		success: function(data) {
		    if (data.success) {
		    	$("#privatemodellist").dataTable().fnDraw(true);
		    	$("#ModalLabel").text("提示");
        		$("#bodycontent").html('<span>成功！</span>');
        		$("#modalbutton").html('<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>');
        		$('#Modal').modal({
        		    keyboard: true
        		});
		    }
		}
	});
}

/**
 * 打开编辑窗口
 */
function openEdit(gcidstr){
	var count = "";
	var gcid = "";
	var gcb = "";
	$.ajax({
        type: "post",
        url: ctx + "/GiftCategory/openEdit",
        dataType: "json",
        async: false,
        data: {"gcid": gcidstr},
        success: function(data) {
        	 if (data.success) {
        		 gcid = data.obj.gireGiftid;
        		 gcb = data.obj.gcb;
        	 }
        }
    });
	
	count += "<table><tr><td>ID:"+ gcid +"</td><input type='hidden' id='gicaId' value='"+ gcid +"'></tr></table>";
	var zh_cn = (null != gcb.zhcnGC && null != gcb.zhcnGC.gicaName && $.trim(gcb.zhcnGC.gicaName).length > 0)?gcb.zhcnGC.gicaName:"";
	var en_us = (null != gcb.enusGC && null != gcb.enusGC.gicaName && $.trim(gcb.enusGC.gicaName).length > 0)?gcb.enusGC.gicaName:"";
	var zh_tw = (null != gcb.zhtwGC && null != gcb.zhtwGC.gicaName && $.trim(gcb.zhtwGC.gicaName).length > 0)?gcb.zhtwGC.gicaName:"";
	var ko_kr = (null != gcb.kokrGC && null != gcb.kokrGC.gicaName && $.trim(gcb.kokrGC.gicaName).length > 0)?gcb.kokrGC.gicaName:"";
	var ja_jp = (null != gcb.jajpGC && null != gcb.jajpGC.gicaName && $.trim(gcb.jajpGC.gicaName).length > 0)?gcb.jajpGC.gicaName:"";
	var de_de = (null != gcb.dedeGC && null != gcb.dedeGC.gicaName && $.trim(gcb.dedeGC.gicaName).length > 0)?gcb.dedeGC.gicaName:"";
	var ru_ru = (null != gcb.ruruGC && null != gcb.ruruGC.gicaName && $.trim(gcb.ruruGC.gicaName).length > 0)?gcb.ruruGC.gicaName:"";
	var es_es = (null != gcb.esesGC && null != gcb.esesGC.gicaName && $.trim(gcb.esesGC.gicaName).length > 0)?gcb.esesGC.gicaName:"";
	
	var ischeck = (null != gcb.gicaIsdiscount && gcb.gicaIsdiscount == 1)?"checked='checked'":""; 
	
	
	count +="<table>";
	count += "<tr><td >名称:</td><td><font style='color:red'>*</font>简体中文<input type='text' id='zh_cn' value='"+ zh_cn +"'/></td>"
			+"<td><font style='color:red'>*</font>英语<input type='text' id='en_us' value='"+ en_us +"'/></td></tr>";
	count += "<tr><td rowspan='3'></td><td>繁体中文<input type='text' id='zh_tw' value='"+ zh_tw +"'/></td><td>한국어<input type='text' id='ko_kr' value='"+ ko_kr +"'/></td></tr>";
	count += "<tr><td>日本語<input type='text' id='ja_jp' value='"+ ja_jp +"'/></td><td>Deutsch<input type='text' id='de_de' value='"+ de_de +"'/></td></tr>";
	count += "<tr><td>Pусский<input type='text' id='ru_ru' value='"+ ru_ru +"'/></td><td>Español<input type='text' id='es_es' value='"+ es_es +"'/></td></tr>";
	count +="</table>";
	
	count += "<table>";
	count +="<tr><td>促销手段:</td><td><input id='gicaDiscount' type='text' value='"+ gcb.gicaDiscount +"'/></td><td><input type='checkbox' id='gicaIsdiscount' "+ ischeck +"/>开启打折</td></tr>";
	count +="<tr><td>促销时段:</td><td><input id='gicaStime' type='text' value='"+ (new Date(gcb.gicaStime).format('yyyy-MM-dd')) +"'/></td><td>至<input id='gicaEtime' type='text' value='"+ (new Date(gcb.gicaEtime).format('yyyy-MM-dd')) +"'/>（utc时间）</td></tr>";
	count +="<tr><td>排序:</td><td><input id='gicaSort' type='text' value='"+ gcb.gicaSort +"' /></td><td></td></tr>";
	count +="<tr><td>描述:</td><td colspan='2'><textarea id='gicaDescription' value='"+ gcb.gicaDescription +"'></textarea></td></tr>";
	count += "</table>";
	
	$("#ModalLabel").text("添加礼物分类");
	$("#bodycontent").html(count);
	$("#modalbutton").html('<button type="button" onclick="add(true)" class="btn btn-primary">保存 </button><button type="button" class="btn btn-default" data-dismiss="modal">取消</button>');
	$('#gicaStime').datepicker({format: 'yyyy-mm-dd'});
	$('#gicaEtime').datepicker({format: 'yyyy-mm-dd'});
	$('#Modal').modal({
	    keyboard: true
	});
}

</script>

