<style type="text/css">
    li{list-style:none;}
</style>

<section class="content-header">
    <h1>私信模板配置<small></small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
        <li>全局配置</li>
        <li class="active">私信模板配置</li>
    </ol>
</section>
<section class="content-main">
    <div class="row">
      <div class="col-xs-12">
          <div class="box">
          
           <form class="form-horizontal">
              <!-- /.box-body -->
              <div class="box-footer">
               <button type="button" onclick="adddictphare('',1)" class="btn btn-primary">添加</button>
              <button type="button" onclick="batchdel('',1)" class="btn btn-primary">删除</button>
              </div>
              <!-- /.box-footer -->
            </form>
          
              <!-- /.box-header -->
              <div class="box-body mailbox-messages">
                <table id="privatemodellist" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th><button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button></th>
                    <th>序号</th>
                    <th>语言</th>
                    <th>模板内容</th>
                    <th>排序</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                  
                </table>
              </div>
              <!-- /.box-body -->
            </div>
           
          <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>   
</section>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="ModalLabel">
            </h4>
         </div>
         <div class="modal-body" id="bodycontent">
            	<!-- 在这里添加一些文本 -->
         </div>
         <div class="modal-footer" id="modalbutton">
            
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title">
           		 提示
            </h4>
         </div>
         <div class="modal-body" id="errorbodycontent">
            	<!-- 在这里添加一些文本 -->
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

<div class="modal fade" id="Modalpage" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog" style="width:60%">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="ModalLabelpage">
            </h4>
         </div>
         <div class="modal-body" id="bodycontentpage">
            	<!-- 在这里添加一些文本 -->
         </div>
         <div class="modal-footer" id="modalbuttonpage">
            
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

<script type="text/javascript">
$(function() {
    $.addFields(['/plugins/datatables/jquery.dataTables.min.js', '/plugins/datatables/dataTables.bootstrap.min.js', '/plugins/iCheck/icheck.min.js'], function() {
        $("#privatemodellist").dataTable({
        	"bStateSave": true, 
        	"paging": true,
            //"processing": true,
            "serverSide": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "pageLength":10,
	        //"ajax" : ctx+"/adminmember/notauditedimgList",
	        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
	        	layer.load(1, {shade: 0.3});
	            oSettings.jqXHR = $.ajax( {
	              "dataType": 'json',
	              "type": "POST",
	              "url": ctx+"/privateletter/dictphraselist",
	              "data": aoData,
	              "success": fnCallback
	            } );
	          },
	        "columns": [
				{"data": "diphId","bSortable": false },
				{"data": "diphId","bSortable": false },
				{"data": "diphLanage","bSortable": false},
				{"data": "diphContent","bSortable": false },
				{"data": "diphSort","bSortable": false},
				{"data": "diphId","bSortable": false }
	        ], 
	         "columnDefs": [
				{"targets": 0,
					"data": "diphId",
					"render": function ( data, type, full, meta ) {
						 return '<input type="checkbox" value="' + data + '" title="' + data + '" name="checkbox" />';
				}},
				{"targets": 5,
					"data": "diphId",
					"render": function ( data, type, full, meta ) {
						var html = "<a href='javascript:void(0)' onclick='adddictphare(\""+full.diphPhraid+"\",1)'>添加</a> <a href='javascript:void(0)' onclick='editdictphare(\""+data+"\",1)'>编辑</a>";
						return html;
				}}],
	            "fnDrawCallback": function(oSettings) { //这个应该是重绘的回调函数
	            	 $(".mailbox-messages input[type='checkbox']").iCheck({
	                     checkboxClass: 'icheckbox_flat-blue',
	                     radioClass: 'iradio_flat-blue'
	                 });
					layer.closeAll();
	            }
	    });
        $(".checkbox-toggle").click(function() {
            var clicks = $(this).data('clicks');
            if (clicks) {
                //$("#imgdata input[type='checkbox']").attr("checked",false);
                //Uncheck all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
            } else {
                //$("#imgdata input[type='checkbox']").attr("checked",true);
                //Check all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("check").add("checked");
                $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
            }
            $(this).data("clicks", !clicks);
        });
      //序号相关
        var table = $('#privatemodellist').DataTable();
        table.on( 'order.dt search.dt', function () {
        	//获取页信息
        	//debugger
        	var page=table.page.info();
         	table.column(1, {}).nodes().each( function (cell, i) {
                 cell.innerHTML =page.page*page.length+ i+1;
             } );
         } ).draw();
        
    });
});




//批量删除
function batchdel(id,type) {
    var diphid = "";
    if(id!=null&&id!=''){
    	diphid=id;
    }else{
	    var objs = $("#privatemodellist div");
	    for (var i = 0; i < objs.length; i++) {
	        var obj = objs[i];
	        var flag = $(obj).attr("aria-checked");
	        if (flag == "true") {
	            if (diphid.trim() != "") {
	            	diphid += ","
	            }
	            diphid += $(obj).children("input").attr("value");
	        }
	    }
    }
    if (diphid == ""&&type!=2) {
    	$("#errorbodycontent").html("请选择需要操作的数据");
		   $('#errorModal').modal({
				keyboard : true
			});
        return;
    }else if(type!=2){
	   $("#ModalLabel").text("删除模板");
	   $("#bodycontent").html('<span>确定要删除所选项吗？</span>');
	   $("#modalbutton").html('<button type="button" onclick="batchdel(null,2)" class="btn btn-primary">确定</button><button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>');
    	$('#Modal').modal({
		      keyboard: true
	   });
	   return;
    }
    $.ajax({
        type: "post",
        url: ctx + "/privateletter/deldictphrase",
        dataType: "json",
        data: {
            "diphids": diphid,
        },
        success: function(data) {
            if (data.success) {
            	 $("#privatemodellist").dataTable().fnDraw(true);
            	$('#Modal').modal('hide');
            }
        }
    });
}

//新增
function adddictphare(phid,type){
	  if(type==1){
		  $("#ModalLabel").text("添加私信模板");
		   var html="<button type='button' onclick='adddictphare(\""+phid+"\",2)' class='btn btn-primary'>确定 </button><button type='button' class='btn btn-default' data-dismiss='modal'>取消</button>";
		   $("#modalbutton").html(html);
		   var content = '<li><span>选择语言：</span>'+
		   '<select id="newlanguage"><option value="zh-cn">简体中文</option><option value="zh-tw">繁體中文</option>'+
		   '<option value="en-us">英文</option><option value="ja-jp">日文</option>'+
		   '<option value="ko-kr">韩文</option><option value="ru-ru">俄文</option>'+
		   '<option value="de-de">德文</option><option value="es-es">西班牙文</option>'+
		   '</select></li><br>'+
		   '<li><span>排&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;序：</span><input type="text" id="neworder"></li><br>'+
		   '<li><span class="vertical-top">模板内容：</span><textarea rows="4" cols="40" id="newcontent"></textarea></li><br>';
		   $("#bodycontent").html(content);
		   
		   $("#neworder").on("keyup",function(){
	            var val=$(this).val();
	            val=val.replace(/[^\d]/g,'');
	            $(this).val(val);
	        });
		   $('#Modal').modal({
			      keyboard: true
		   })
		   
	   }else{
		   //发送
		   var language = $("#newlanguage").val();
		   var neworder = $("#neworder").val();
		   var newcontent = $("#newcontent").val();
		   if(neworder==''||neworder==null){
			   $("#errorbodycontent").html("排序不能为空");
			   $('#errorModal').modal({
					keyboard : true
				});
			   return;
		   }
		   if(newcontent==''||newcontent==null){
			   $("#errorbodycontent").html("内容不能为空");
			   $('#errorModal').modal({
					keyboard : true
				});
			   return;
		   }
		   
		   $.ajax({
				type : "post",
				url : ctx+"/privateletter/adddictphare",
				dataType : "json",
				data : {
					"language":language,
					"sort" : neworder,
					"content" : newcontent,
					"diphPhraid":phid
				},
				success : function(data) {
					if(!data.success){
						$("#errorbodycontent").html(data.msg);
						   $('#errorModal').modal({
								keyboard : true
							});
					}else{
						 $("#privatemodellist").dataTable().fnDraw(true);
						$("#Modal").modal('hide');
					}
				}
			})
	   }
}


//编辑
function editdictphare(id,type){
	  if(type==1){
		  $("#ModalLabel").text("编辑私信模板");
		   var html="<button type='button' onclick='editdictphare(\""+id+"\",2)' class='btn btn-primary'>确定 </button><button type='button' class='btn btn-default' data-dismiss='modal'>取消</button>";
		   $("#modalbutton").html(html);
		   var content = '<li><span>选择语言：</span>'+
		   '<select id="newlanguage"><option value="zh-cn">简体中文</option><option value="zh-tw">繁體中文</option>'+
		   '<option value="en-us">英文</option><option value="ja-jp">日文</option>'+
		   '<option value="ko-kr">韩文</option><option value="ru-ru">俄文</option>'+
		   '<option value="de-de">德文</option><option value="es-es">西班牙文</option>'+
		   '</select></li><br>'+
		   '<li><span>排序：</span><input type="text" id="neworder"></li><br>'+
		   '<li><span>模板内容：</span><textarea rows="4" cols="40" id="newcontent"></textarea></li><br>';
		   $("#bodycontent").html(content);
		   
		   $.post(ctx+"/privateletter/editdictphare",{
				id:id
					},function(result){
				         if(result.success){
				            $("#newlanguage").val(result.obj.diphLanage);
				  		   $("#neworder").val(result.obj.diphSort);
				  		    $("#newcontent").val(result.obj.diphContent);
				         }
					});
		   $("#neworder").on("keyup",function(){
	            var val=$(this).val();
	            val=val.replace(/[^\d]/g,'');
	            $(this).val(val);
	        });
		   $('#Modal').modal({
			      keyboard: true
		   })
		   
	   }else{
		   //发送
		   var language = $("#newlanguage").val();
		   var neworder = $("#neworder").val();
		   var newcontent = $("#newcontent").val();
		   if(neworder==''||neworder==null){
			   $("#errorbodycontent").html("排序不能为空");
			   $('#errorModal').modal({
					keyboard : true
				});
			   return;
		   }
		   if(newcontent==''||newcontent==null){
			   $("#errorbodycontent").html("内容不能为空");
			   $('#errorModal').modal({
					keyboard : true
				});
			   return;
		   }
		   
		   $.ajax({
				type : "post",
				url : ctx+"/privateletter/updatedictphare",
				dataType : "json",
				data : {
					"id":id,
					"language":language,
					"sort" : neworder,
					"content" : newcontent
				},
				success : function(data) {
					if(!data.success){
						$("#errorbodycontent").html(data.msg);
						   $('#errorModal').modal({
								keyboard : true
							});
					}else{
						 $("#privatemodellist").dataTable().fnDraw(true);
						$("#Modal").modal('hide');
					}
				}
			})
	   }
}
</script>

