<section class="content-header">
    <h1>提成明细<small></small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
        <li>我的推广</li>
        <li class="active">提成明细</li>
    </ol>
</section>
<section class="content-main">
    <div class="row">
      <div class="col-xs-12">
          <div class="box">
             <form class="form-horizontal">
              <div class="box-body">
              
              <div class="form-group"  id="costStr">
                  <label for="membNo" class="col-sm-2 control-label">消费类型：</label>
                  <div class="col-sm-10">
                    <select class="form-control" id="costType">
                    <option value="">-- 请选择 --</option>
                  </select>
                  </div>
                </div>
              
              <div class="form-group">
                  <label for="gagaNo" class="col-sm-2 control-label">会员名/GAGA号：</label>
                  <div class="col-sm-4">
                     <input type="text" class="form-control" id="gagaNo" placeholder="会员名/GAGA号" >
                  </div>             
               
                  <label for="createDate" class="col-sm-2 control-label">消费时间(UTC)：</label>
                  <div class="col-sm-4">
                    <input type="text"  value="" class="form-control pull-right" id="createDate">
                  </div>
                </div>
                
               <div class="form-group">
					<label for="content" class="col-sm-2 control-label">终端：</label>
					<div class="col-sm-4">
						<select class="form-control" id="pcAppFlag">
	                    <option value="">全部</option>
	                    <option value="pc">pc</option>
	                    <option value="app">app</option>
	                  </select>
					</div>
				
					<label for="content" class="col-sm-2 control-label">状态：</label>
					<div class="col-sm-4">
						<select class="form-control" name="cost_flag"  id="cost_flag" >
							<option value="">全部</option>
							<option value="1">绑定前</option>
							<option value="0">绑定后</option>
						</select>
					</div>
				</div> 
               
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
              阶段提成总金额($)：<span id="jdtc"></span><span style=" display:inline-block;width:100px"></span>
              阶段消费总金额($)：<span id="jdxf"></span><span style=" display:inline-block;width:100px"></span>
                <button type="button" class="btn btn-default" onclick="search()">查询</button>
				<button type="button" onclick="refreshdata()" class="btn btn-primary">刷新</button>
              </div>
              <!-- /.box-footer -->
            </form>

              <div class="box-body mailbox-messages">
                <table id="tableData" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                  <th>序号</th>
                  <th>会员昵称</th>
                  <th>会员嘎嘎号</th>
                  <th>性别</th>
                  <th>消费金额($)</th>
                  <th>提成金额($)</th>
                  <th>提成终端</th>
                  <th>消费会员嘎嘎号</th>
                  <th>视频来源</th>
                  <th>消费类型</th>
                  <th>消费时间(UTC)</th>
                  </tr>
                  </thead>
                  
                </table>
                 <font color="#aaaaaa">备注：查询条件中的日期使用说明，开始日期为包含即'>='，结束日期为不包含即'<'。</font>
              </div>
              <!-- /.box-body -->             
            </div>
           
          <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>   
</section>
<script type="text/javascript">
var departIdTmp='',userIdTmp='',userNameTmp='',isRun=0;
$(function() {
    $.addFields(['/plugins/datatables/jquery.dataTables.min.js'
                 , '/plugins/datatables/dataTables.bootstrap.min.js'
                 , '/plugins/iCheck/icheck.min.js'
                 , '/plugins/daterangepicker/daterangepicker.js'
                 ,'/plugins/datepicker/bootstrap-datepicker.js'
                 ], function() {
        
        var defaultDateObj = new Date();
        var currentYear = defaultDateObj.getFullYear();
        var currentMonth = defaultDateObj.getMonth() + 1;
        var defaultStartDate = currentYear + '-' + currentMonth + '-01 01:00:00';
        var isOverYear = (currentMonth + 1) > 12;
        var defaultEndDate = (isOverYear ? (currentYear + 1) : currentYear) + '-' + (isOverYear ? '01' : currentMonth + 1) + '-01 01:00:00';
        $('#createDate').daterangepicker({
          timePicker: true, 
          timePickerIncrement: 30, 
          format: 'YYYY-MM-DD HH:mm:ss',
          opens: 'right',
          startDate: defaultStartDate,
          endDate: defaultEndDate
        });
        $('#createDate').data('daterangepicker').setStartDate(defaultStartDate);
        //默认本月初到月末日期
        //var cd=firstDate()+' - '+lastDate();
        //$('#createDate').val(cd);

        var t=$("#tableData").dataTable({
            "bStateSave": true,
            "paging": true,
            //"processing": true,
            "bServerSide": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "pageLength": 10,

            "fnServerData": function(sSource, aoData, fnCallback, oSettings) {
            	var costType=$("#costType").val();
                var gagaNo=$("#gagaNo").val();
                var createDate=$("#createDate").val();

                aoData.push({"name": "costType", "value": costType});
                aoData.push({"name": "gagaNo", "value": gagaNo});
                
                if(createDate!=''){                	
                	var tmp=createDate.split(' - ');
                	if(tmp.length==2){
                		aoData.push({"name": "beginDate",  "value": tmp[0]},
                				    {"name": "endDate",  "value": tmp[1]},
                        		    {"name":"cost_flag","value":$("#cost_flag").val()},
                            	    {"name": "flag", "value": $("#pcAppFlag").val()}
                        );
                	}
                }
                var url=(t)?(ctx + "/Commission/myCommission"):"#";
                layer.load(1, {shade: 0.3});
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": url,
                    "data": aoData,
                    "success":  function (json) { 
                       /*Start 模拟数据，可删除
                        json.data = [{
                          "cost_id":"1",
                          "nc_czr":"ha",
                          "memb_gagano":"1566",
                          "bmemb_nickname": "鱼人",
                          "bmemb_gagano": "3332",
                          "cost_goldreal":"225",
                          "cost_goldcommis":"2",
                          "memb_sex":"1",
                          "cost_description":"asd",
                          "cost_addtime":1467012710241
                        }]; 
                        End 模拟数据，可删除*/ 
	                    	fnCallback(json);
	                    	//自定义数据处理
	                    	//console.log(json);
	                    	//阶段提成额
	                    	$("#jdtc").html(json.obj.jdtc);
	                    	$("#jdxf").html(json.obj.jdxf);//消费
	                    	//初始化消费类型
	                    	//console.log(json.obj.costTypeList);
	                    	if(isRun==0){
	                    		var html = template('costTypeTmp', json.obj);
		                		$('#costStr').html(html);
		                		isRun=1;
	                    	}
                        }
                });
            },
            "columns": [{
                "data": "cost_id",
                "bSortable": false
            }, {
                "data": "bmemb_nickname",
                "bSortable": false,"defaultContent": ""
            }, {
                "data": "bmemb_gagano",
                "bSortable": false,"defaultContent": ""
            }, {
                "data": "bmemb_sex",
                "bSortable": false
            },  {
                "data": "cost_goldreal",
                "bSortable": false
            }, {
                "data": "cost_goldcommis",
                "bSortable": false
            },{
                "data": "flag",
                "bSortable": false
            }, {
                "data": "memb_gagano",
                "bSortable": false,"defaultContent": ""
            },{
                "data": "video_source",
                "bSortable": false
            }, {
                "data": "cost_description",
                "bSortable": false
            },{
                "data": "cost_addtime",
                "bSortable": false
            }],
           
           "columnDefs": [{
                "targets": 0,                
                "render": function(data, type, full, meta) {                	
                    return '';
                }
            },{
                "targets": 1,                
                "render": function(data, type, full, meta) {
                	if(!data){data=full.memb_nickname}
                	return data
                }
            },{
                "targets": 2,                
                "render": function(data, type, full, meta) {
                	if(!data){data=full.memb_gagano}
                	return data
                }
            },{
                "targets": 3,                
                "render": function(data, type, full, meta) {
                	if(!data){data=full.memb_sex}
                	if(data==2){return '女'}else if(data==1){return '男'}return '无'
                }
            },{
                "targets": 7,                
                "render": function(data, type, full, meta) {
                	var dstr='';
                	if(data!=null){
                		dstr=data;
                	}
                    return dstr;
                }
            },{
                "targets": 8,                
                "render": function(data, type, full, meta) {
                	if(data==1){return 'GaGaHi平台录制'}else if(data==2){return '第三方录制（企业）'}return '第三方录制（个人）'
                }
            },{
                "targets": 10,
                "data": "cost_addtime",
                "render": function(data, type, full, meta) {
                	if(data==''||data==null){
                		return "";
                	}
                	var date = new Date(data);
    	    	    return date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();
                }
            }],
            
            "fnDrawCallback": function(oSettings) { //这个应该是重绘的回调函数
                $(".mailbox-messages input[type='checkbox']").iCheck({
                    checkboxClass: 'icheckbox_flat-blue',
                    radioClass: 'iradio_flat-blue'
                });
           	 	var typ=$("#costType").val();
           	 	var table=$('#tableData').DataTable();
	            if(parseInt(typ)>=203&&parseInt(typ)<=206){
	            	table.column(8).visible( true );
	            }else{
	            	table.column(8).visible( false );
	            }
                layer.closeAll();
            }
        });
        
        //序号相关
        var table = $('#tableData').DataTable();
        table.on( 'order.dt search.dt', function () {
        	//获取页信息
        	//debugger
        	var page=table.page.info();
         	table.column(0, {}).nodes().each( function (cell, i) {
                 cell.innerHTML =page.page*page.length+ i+1;
             } );
         } ).draw();
    });
});

function errorHd(xreq){	 
	  $.msg(xreq.statusText+"["+xreq.status+"]");
}

//刷新表格
function refreshdata() {
    $("#tableData").dataTable().fnDraw(true);  //刷新,用false,仍旧加载的是本页,保留start信息
}
//查询
function search() {
    $("#tableData").dataTable().fnDraw(true); //查询的话,用true,返回初始状态   start回到0
}
</script>
<script id="costTypeTmp" type="text/html">
		<label for="costType" class="col-sm-2 control-label">消费类型：</label>
		<div class="col-sm-10">
				<select class="form-control"  id="costType">
					<option value="">-- 请选择 --</option>
                    {{each costTypeList as value i}}
						<option value="{{value.dctyId}}">{{value.dctyCode}}</option>
                    {{/each}}
                  </select>
 		</div>
</script>

