<section class="content-header">
    <h1>月度用户分布<small></small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
        <li>财务统计</li>
        <li class="active">月度用户分布</li>
    </ol>
</section>
<section class="content-main">
    <div class="row">
      <div class="col-xs-12">
          <div class="box">
          
           <form class="form-horizontal">
              <div class="box-body">
                
                <div class="form-group">
                  <label for="membNo" class="col-sm-2 control-label">统计区间:</label>
                  <div class="col-sm-10">
                    <input type="text" id="starttime">至<input type="text" id="endtime">(备注：查询条件中的日期使用说明，开始日期为包含即'>='，结束日期为不包含即"<"。)
                  </div>
                </div>
                
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
               <button type="button" onclick="search()" class="btn btn-primary">查询</button>
               </div>
              <!-- /.box-footer -->
            </form>
          
              <!-- /.box-header -->
              <div class="box-body mailbox-messages">
                <table id="membergoldsumlist1" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>充值总额 ( $ )</th>
                    <th>比例</th>
                    <th>会员类型</th>
                  </tr>
                  </thead>
                  
                </table>
              </div>
              <!-- /.box-body -->
            </div>
           
          <!-- /.box -->
           <div class="box">
              <!-- /.box-header -->
              <div class="box-body mailbox-messages">
                <table id="membergoldsumlist2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                  	<th>消费总额 ( $ )</th>
                    <th>比例</th>
                    <th>会员类型</th>
                  </tr>
                  </thead>
                  
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            
              <!-- /.box -->
           <div class="box">
              <!-- /.box-header -->
              <div class="box-body mailbox-messages">
                <table id="membergoldsumlist3" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                  	<th>会员时长</th>
                    <th>高级会员</th>
                    <th>比例</th>
                    <th>VIP会员</th>
                    <th>比例</th>
                  </tr>
                  </thead>
                  
                </table>
              </div>
              <!-- /.box-body -->
            </div>
      </div>
      <!-- /.col -->
    </div>   
</section>

<script type="text/javascript">
$(function() {
	var firstDay = firstDate("yyyy-MM-dd");
	var now = new Date();
	var nowdate = now.format("yyyy-MM-dd")
	
	$('#starttime').val(firstDay);
	$('#endtime').val(nowdate);
	 $('#starttime').datepicker({format: 'yyyy-mm-dd'});
	  $('#endtime').datepicker({format: 'yyyy-mm-dd'});
	
    $.addFields(['/plugins/datatables/jquery.dataTables.min.js', '/plugins/datatables/dataTables.bootstrap.min.js', '/plugins/iCheck/icheck.min.js'], function() {
        $("#membergoldsumlist1").dataTable({
        	"bStateSave": true, 
        	"paging": false,
            //"processing": true,
            "serverSide": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": false,
            "autoWidth": false,
            "pageLength":10,
	        //"ajax" : ctx+"/adminmember/notauditedimgList",
	        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
	        	var starttime = $("#starttime").val();
	        	var endtime = $("#endtime").val();
	        	aoData.push(
	        			{"name":"starttime","value":starttime},
	        			{"name":"endtime","value":endtime}
	        			)
	        	//aoData=gagaidorname; */
	        	layer.load(1, {shade: 0.3});
	            oSettings.jqXHR = $.ajax( {
	              "dataType": 'json',
	              "type": "POST",
	              "url": ctx+"/order/memberrechargegoldsum",
	              "data": aoData,
	              "success": fnCallback
	            } );
	          },
	        "columns": [
				{"data": "rechGoldreal","bSortable": false },
				{"data": "proportion","bSortable": false },
				{"data": "rechType","bSortable": false}
	        ], 
	         "columnDefs": [{"targets": 2,
					"data": "rechType",
					"render": function ( data, type, full, meta ) {
						if(data==0){
							data="普通会员";
						}
						else if(data==10){
							data="迷你会员";
						}
						else if(data==20){
							data="高级会员";
						}
						else if(data==30){
							data="VIP会员";
						}
						return data;
				}}],
	            "fnDrawCallback": function(oSettings) {
	            	layer.closeAll();
	            }
	    });
        
        
        
        $('#membergoldsumlist2').DataTable({
        	"bStateSave": true, 
        	"paging": false,
            //"processing": true,
            "serverSide": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": false,
            "autoWidth": false,
            "pageLength":10,
	        //"ajax" : ctx+"/adminmember/notauditedimgList",
	        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
	        	var starttime = $("#starttime").val();
	        	var endtime = $("#endtime").val();
	        	aoData.push(
	        			{"name":"starttime","value":starttime},
	        			{"name":"endtime","value":endtime}
	        			)
	        	//aoData=gagaidorname; */
	            oSettings.jqXHR = $.ajax( {
	              "dataType": 'json',
	              "type": "POST",
	              "url": ctx+"/order/memberconsumgoldsum",
	              "data": aoData,
	              "success": fnCallback
	            } );
	          },
	        "columns": [
				{"data": "consgoldreal","bSortable": false },
				{"data": "proportion","bSortable": false },
				{"data": "dctycode","bSortable": false}
	        ], 
	         "columnDefs": [{"targets": 2,
					"data": "dctycode",
					"render": function ( data, type, full, meta ) {
						if(data==0){
							data="普通会员";
						}
						else if(data==10){
							data="迷你会员";
						}
						else if(data==20){
							data="高级会员";
						}else if(data==30){
							data="VIP会员";
						}
						return data;
				}}]
          });
        
        
        $('#membergoldsumlist3').DataTable({
        	"bStateSave": true, 
        	"paging": false,
            //"processing": true,
            "serverSide": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": false,
            "autoWidth": false,
            "pageLength":10,
	        //"ajax" : ctx+"/adminmember/notauditedimgList",
	        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
	        	var starttime = $("#starttime").val();
	        	var endtime = $("#endtime").val();
	        	aoData.push(
	        			{"name":"starttime","value":starttime},
	        			{"name":"endtime","value":endtime}
	        			)
	        	//aoData=gagaidorname; */
	            oSettings.jqXHR = $.ajax( {
	              "dataType": 'json',
	              "type": "POST",
	              "url": ctx+"/order/memberlevellist",
	              "data": aoData,
	              "success": fnCallback
	            } );
	          },
	        "columns": [
				{"data": "monthnum","bSortable": false },
				{"data": "gcount","bSortable": false },
				{"data": "gproportion","bSortable": false},
				{"data": "vcount","bSortable": false},
				{"data": "vproportion","bSortable": false}
	        ], 
	         "columnDefs": [{"targets": 0,
					"data": "monthnum",
					"render": function ( data, type, full, meta ) {
						
						return data+"个月";
				}},{"targets": 2,
					"data": "gproportion",
					"render": function ( data, type, full, meta ) {
						
						return data;
				}}]
          });
        
    });
});


//查询
function search(){
	$("#membergoldsumlist1").dataTable().fnDraw(true);
	$("#membergoldsumlist2").dataTable().fnDraw(true);
	$("#membergoldsumlist3").dataTable().fnDraw(true);
}
</script>

