<style type="text/css">
.dataTables_wrapper { position: relative; }
.dataTables_wrapper .dataTables_length { position: absolute; top: 2px; left: 80px;  }
.DTTT_button_copy, .DTTT_button_csv, .DTTT_button_pdf, .DTTT_button_print { display: none; }
</style>
<section class="content-header">
    <h1>拒付查询<small></small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
        <li>财务统计</li>
        <li class="active">拒付查询</li>
    </ol>
</section>
<section class="content-main">
    <div class="row">
      <div class="col-xs-12">
          <div class="box">
          
           <form class="form-horizontal">
              <div class="box-body">
                
                <div class="form-group">
                  <label for="membNo" class="col-sm-2 control-label">统计时间:</label>
                  <div class="col-sm-10">
                    <input type="text" id="starttime">至<input type="text" id="endtime">
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="membNo" class="col-sm-2 control-label">会员：</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="membnoornickname" placeholder="昵称/GAGA号" >
                  </div>
                </div>
                
                <div class="form-group">   
                  <label for="sendDate" class="col-sm-2 control-label">订单号：</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="orderno">
                  </div>             
                </div>
                
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
               <button type="button" onclick="search()" class="btn btn-primary">查询</button>
              <!--<button type="button" onclick="batchdel()" class="btn btn-primary">导出</button>-->
              </div>
              <!-- /.box-footer -->
            </form>
          
              <!-- /.box-header -->
              <div class="box-body mailbox-messages">
                <table id="unrecharges" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>序号</th>
                    <th>订单号</th>
                    <th>时间</th>
                    <th>昵称</th>
                    <th>GAGA号</th>
                    <th>类型</th>
                    <th>折扣后的美元 ($)</th>
                    <th>支付方式</th>
                    <th>现支付状态</th>
                    <th>失败原因</th>
                    <th>交易单号</th>
                    <th>备注</th>
                    <th>操作记录状态</th>
                  </tr>
                  </thead>
                  
                </table>
              </div>
              <!-- /.box-body -->
            </div>
           
          <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>   
</section>

<script type="text/javascript">
$(function() {
	 $('#starttime').datepicker({format: 'yyyy-mm-dd'});
	  $('#endtime').datepicker({format: 'yyyy-mm-dd'});
	
    $.addFields(['/plugins/datatables/jquery.dataTables.min.js', '/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js', '/plugins/datatables/dataTables.bootstrap.min.js', '/plugins/iCheck/icheck.min.js'], function() {
        $("#unrecharges").dataTable({
        	 "dom": 'T<"clear">lfrtip',
             "tableTools": {
                 "sSwfPath": "/gaga_sns_admin/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
             },
            "bLengthChange": true,
        	"bStateSave": true, 
        	"paging": true,
            //"processing": true,
            "serverSide": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "pageLength":10,
	        //"ajax" : ctx+"/adminmember/notauditedimgList",
	        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
	        	var starttime = $("#starttime").val();
	        	var endtime = $("#endtime").val();
	        	var nameorno = $("#membnoornickname").val();
	        	var orderno = $("#orderno").val();
	        	var transactionno = $("#transactionno").val();
	        	aoData.push(
	        			{"name":"starttime","value":starttime},
	        			{"name":"endtime","value":endtime},
	        			{"name":"nameorno","value":nameorno},
	        			{"name":"orderid","value":orderno}
	        			)
	        	//aoData=gagaidorname; 
	        	layer.load(1, {shade: 0.3});
	            oSettings.jqXHR = $.ajax( {
	              "dataType": 'json',
	              "type": "POST",
	              "url": ctx+"/order/unrechargelist",
	              "data": aoData,
	              "success": fnCallback
	            } );
	          },
	        "columns": [
				{"data": "xh","bSortable": false },
				{"data": "recharge.rechId","bSortable": false },
				{"data": "syreAddtime","bSortable": false},
				{"data": "member.membNickname","bSortable": false },
				{"data": "member.membGagano","bSortable": false},
				{"data": "syreId","bSortable": false },
				{"data": "recharge.rechGoldreal","bSortable": false},
				{"data": "recharge.rechType","bSortable": false},
				{"data": "recharge.rechState","bSortable": false},
				{"data": "recharge.rechReason","bSortable": false},
				{"data": "recharge.rechPlatorerid","bSortable": false},
				{"data": "syreDescription","bSortable": false},
				{"data": "syreState","bSortable": false}
	        ], 
	         "columnDefs": [
	         	{"targets": 1,
					"data": "recharge.rechId",
					"render": function ( data, type, full, meta ) {
						return '&nbsp;'+data;
				}},
				{"targets": 2,
					"data": "syreAddtime",
					"render": function ( data, type, full, meta ) {
				    	return data ? (new Date(data)).format('yyyy-MM-dd hh:mm:ss', true) : '';
				}},{"targets":3,
					"data": "member.membNickname",
					"render": function ( data, type, full, meta ) {
						if(data==null||data==''){
							return "";
						}
				    	return data;
				}},
				{"targets":4,
					"data": "member.membGagano",
					"render": function ( data, type, full, meta ) {
						if(data==null||data==''){
							return "";
						}
				    	return data;
				}},
				{"targets": 5,
					"data": "syreId",
					"render": function ( data, type, full, meta ) {
					return "充值";
				}},
				{"targets": 8,
					"data": "recharge.rechState",
					"render": function ( data, type, full, meta ) {
					if(data==0){
						return "已下单，未支付";
					}else if(data==1){
						return "支付成功";
					}else if(data==2){
						return "支付失败";
					}else if(data==3){
						return "删除";
					}else if(data==4){
						return "交易处理中";
					}else if(data==5){
						return "退款";
					}else{
						return data;
					}
				}},{"targets": 9,
					"data": "recharge.rechReason",
					"render": function ( data, type, full, meta ) {
						if(data==''||data==null){
							return "";
						}else{
							if(full.recharge.rechType=='paypal'&&full.recharge.rechState == 2){
								data='paypal提示该用户存在风险交易，未能成功支付。';
							}
							return data;
						}
				}},{"targets": 10,
					"data": "recharge.rechPlatorerid",
					"render": function ( data, type, full, meta ) {
						if(data==''||data==null){
							return "";
						}else{
							return data;
						}
				}},{"targets": 11,
					"data": "syreDescription",
					"render": function ( data, type, full, meta ) {
						if(data==''||data==null){
							return "";
						}else{
							return data;
						}
				}},{"targets": 12,
					"data": "syreState",
					"render": function ( data, type, full, meta ) {
						if(data==3){
							return "退单与争议";
						}else if(data==4){
							return "争议拒付";
						}else if(data==5){
							return "已清算退款申请";
						}else if(data==6){
							return "已清算退款失败";
						}else if(data==7){
							return "拒付冻结资金";
						}else if(data==8){
							return "拒付冻结资金";
						}else if(data==9){
							return "拒付扣款";
						}else if(data==10){
							return "退款";
						}else if(data==1){
							return "未支付->成功";
						}else{
							return data;
						}
				}}],  
	            "fnDrawCallback": function(oSettings) {
	            	layer.closeAll();
	            }
	    });
      //序号相关
        var table = $('#unrecharges').DataTable();
        table.on( 'order.dt search.dt', function () {
        	//获取页信息
        	//debugger
        	var page=table.page.info();
         	table.column(0, {}).nodes().each( function (cell, i) {
                 cell.innerHTML =page.page*page.length+ i+1;
             } );
         } ).draw();
    });
});

//查询
function search(){
	$("#unrecharges").dataTable().fnDraw(true);
}

</script>

