<style type="text/css">
.dataTables_wrapper { position: relative; }
.dataTables_wrapper .dataTables_length { position: absolute; top: 2px; left: 80px;  }
.DTTT_button_copy, .DTTT_button_csv, .DTTT_button_pdf, .DTTT_button_print { display: none; }
.zi{width: 10%;float: left;text-align: center;line-height: 34px;}
.startTime{width: 45%;float: left;}
</style>
<section class="content-header">
    <h1>微信支付宝充值明细<small></small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
        <li>财务统计</li>
        <li class="active">微信支付宝充值明细</li>
    </ol>
</section>
<section class="content-main">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<form class="form-horizontal">
					<div class="box-body">

<!-- 						<div class="form-group">
							<label for="membNo" class="col-sm-2 control-label">统计区间:</label>(备注：查询条件中的日期使用说明，开始日期为包含即'>='，结束日期为不包含即"<"。)
							<div class="col-sm-10">
								<input type="text" id="starttime">至<input type="text" id="endtime">
							</div>
						</div> -->
						<div class="form-group">
							<label for="membNo" class="col-sm-2 control-label">统计区间：</label>
							<div class="row">
								<div class="col-sm-4">
									<input type="text" class="form-control startTime" id="starttime" >
									<span class="zi" style="">至</span>
									<input type="text" class="form-control startTime" id="endtime" >
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="content" class="col-sm-2 control-label">支付方式：</label>
							<div class="col-sm-4">
								<select class="form-control" id="level" onchange="search()">
									<option value="">全部</option>
									<option value="alipay">支付宝</option>
									<option value="wechatpay">微信</option>
								</select>
							</div>
						</div>

					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<button type="button" onclick="search()" class="btn btn-primary">查询</button>
						<!--<button type="button" onclick="batchdel()" class="btn btn-primary">导出</button>-->
					</div>
					<!-- /.box-footer -->
				</form>

				<!-- /.box-header -->
				<div class="box-body mailbox-messages">
					<table id="rechargeconsum" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>充值类型</th>
								<th>充值总金额（$）</th>
								<th>充值总金额（￥）</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>微信</td>
								<td id="wechat_gold"></td>
								<td id="wechat_yuan"></td>
							</tr>
							<tr>
								<td>支付宝</td>
								<td id="alipay_gold"></td>
								<td id="alipay_yuan"></td>
							</tr>
						</tbody>

					</table>
				</div>
				<!-- /.box-body -->
		
				<div class="box-body mailbox-messages">
					<table id="wechat_alipay" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>会员昵称</th>
								<th>会员嘎嘎号</th>
								<th>充值总金额（$）</th>
								<th>充值总金额（￥）</th>
								<th>充值类型</th>
								<th>订单号</th>
								<th>订单时间</th>
								<th>订单状态</th>
							</tr>
						</thead>

					</table>
				</div>

			</div>

		</div>
		<!-- /.col -->
	</div>
</section>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="ModalLabel">
            </h4>
         </div>
         <div class="modal-body" id="bodycontent">
            	<!-- 在这里添加一些文本 -->
         </div>
         <div class="modal-footer" id="modalbutton">
            
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title">
           		 提示
            </h4>
         </div>
         <div class="modal-body" id="errorbodycontent">
            	<!-- 在这里添加一些文本 -->
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

<div class="modal fade" id="Modalpage" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog" style="width:60%">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="ModalLabelpage">
            </h4>
         </div>
         <div class="modal-body" id="bodycontentpage">
            	<!-- 在这里添加一些文本 -->
         </div>
         <div class="modal-footer" id="modalbuttonpage">
            
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

<script type="text/javascript">
$(function() {
	var now = new Date();
	var nowdate = now.format("yyyy-MM-dd")
	
	var firstDay = firstDate("yyyy-MM-dd");
    $('#starttime').val(firstDay);
    var lastDay = lastDate("yyyy-MM-dd");
    $('#endtime').val(nowdate);
    $('#enddate').text(firstDay);

	$('#starttime').datepicker({format: 'yyyy-mm-dd',language: 'zh-CN'});
	$('#endtime').datepicker({format: 'yyyy-mm-dd',language: 'zh-CN'});
	
    $.addFields(['/plugins/datatables/jquery.dataTables.min.js', '/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js', '/plugins/datatables/dataTables.bootstrap.min.js', '/plugins/iCheck/icheck.min.js'], function() {
        $("#wechat_alipay").dataTable({
           "dom": 'T<"clear">lfrtip',
             "tableTools": {
                 "sSwfPath": "/gaga_sns_admin/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
             },
            "bLengthChange": true,
        	"bStateSave": true, 
        	"paging": true,
            //"processing": true,
            "serverSide": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "pageLength":20,

	        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
	        	aoData.push(
	        			{"name":"rech_type","value":$('#level').val()},
	        			{"name":"startTime","value":$("#starttime").val()},
	        			{"name":"endTime","value":$("#endtime").val()}
	        			)
	        	//aoData=gagaidorname; 
            layer.load(1, {shade: 0.3});
	            oSettings.jqXHR = $.ajax( {
	              "dataType": 'json',
	              "type": "POST",
	              "url": ctx+"/finance/getWetchatAlipayDetail",
	              "data": aoData,
	              "success": fnCallback
	            } );
	          },
	        "columns": [
				{"data": "memb_nickname","bSortable": false },
				{"data": "memb_gagano","bSortable": false },
				{"data": "rech_goldreal","bSortable": false},
				{"data": "rech_currencymoney","bSortable": false },
				{"data": "rech_type","bSortable": false},
				{"data": "rech_id","bSortable": false},
				{"data": "create_date","bSortable": false },
				{"data": "rech_state","bSortable": false }
	        ], 
	         "columnDefs": [
				{"targets": 2,
					"render": function ( data, type, full, meta ) {
						if(data==-1){
							return "-"
						}
				    	return data;
				}},
				{"targets": 3,
					"render": function ( data, type, full, meta ) {
					if(data==-1){
						return "-"
					}
					return data;
				}},
				{"targets": 7,
					"render": function ( data, type, full, meta ) {
						if(data==1){
							return "成功"
						}
						return data;
				}},
				{"targets": 6,
					"render": function ( data, type, full, meta ) {
						var dstr='';
	                	if(data!=null){
	                		dstr=new Date(data).format('yyyy-MM-dd hh:mm:ss');
	                	}
	                    return dstr;
				}}],
	            "fnDrawCallback": function(oSettings) { //这个应该是重绘的回调函数
                layer.closeAll();
            	 
	            }
	    });   
    });

    //
	totalGold();
    
});
function totalGold() {
    $.ajax({
        type: "POST",
        url: ctx+"/finance/getWetchatAlipay",
        data: {startTime:$("#starttime").val(), endTime:$("#endtime").val()},
        dataType: "json",
        success: function(data){
	        	 $.each(data.obj, function(commentIndex, comment){
	        		 if(comment['rech_type']=='alipay'){
	        			 $('#alipay_gold').html(comment['gold']);
	        			 $('#alipay_yuan').html(comment['yuan']);
	        		 }
					 if(comment['rech_type']=='wechatpay'){
						 $('#wechat_gold').html(comment['gold']);
	        			 $('#wechat_yuan').html(comment['yuan']);
	        		 }
	             });
               }
    });
}


//查询
function search(){
	var starttime = $('#starttime').val();
    var endtime = $('#endtime').val();
    $('#enddate').text(starttime);
    $('#startdate2').text(starttime);
    $('#enddate2').text(endtime);
	$("#wechat_alipay").dataTable().fnDraw(true);
	totalGold();
}
</script>



