
<section class="content-header">
	<h1>
		工资明细<small></small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
		<li>代理商</li>
		<li class="active">工资明细</li>
	</ol>
</section>

<section class="content-main">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<!-- 头部操作菜单 -->
				<form class="form-horizontal">
					<div class="box-footer">
						<button type="button" class="btn btn-primary" onclick="reload()">刷新</button>
						<!-- 						消费类型:<select id="genderId">  -->
						<!-- 						   <option value="6">IM翻译</option> -->
						<!-- 						   </select> -->
						性别:<select id="genderId">
						    <option value="A">所有</option>
							<option value="F">女</option>
							<option value="M">男</option>
							<input type="text" id="amName" placeholder="大使姓名">
						<input type="text" id="nickname" placeholder="昵称">
							</select> <input type="text" id="username" placeholder="嘎嘎号">
						 消费时间<input type="text" id="createDate"  value=""  style="width:300px;" id="createDate">
						<button type="button" class="btn btn-primary" onclick="search()">搜索</button>
					</div>
				</form>

				<!-- 列头 -->
				<div class="box-body mailbox-messages">
					<table id="privatemodellist"
						class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>序号</th>
								<th>大使姓名</th>
								<th>大使昵称</th>
								<th>嘎嘎号</th>
								<th>提成金额（$）</th>
								<th>管理津贴（$）</th>
								<th>性别</th>
								<th>消费类型</th>
								<th>消费时间</th>
							</tr>
						</thead>

					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
/**
 * 查询
 */
function search(){
	$("#privatemodellist").dataTable().fnDraw(true);
}


function gotogclist(){
	 window.location.href = ctx + "/welcome.html?po=48"; 
}

$(function() {
    $.addFields(['/plugins/datatables/jquery.dataTables.min.js', '/plugins/datatables/dataTables.bootstrap.min.js', '/plugins/iCheck/icheck.min.js', '/plugins/daterangepicker/daterangepicker.js'
                 ,'/plugins/datepicker/bootstrap-datepicker.js'], function() {

    	   var defaultDateObj = new Date();
    	        var currentYear = defaultDateObj.getFullYear();
    	        var currentMonth = defaultDateObj.getMonth() + 1;
    	        var defaultStartDate = currentYear + '-' + currentMonth + '-01 01:00:00';
    	        var isOverYear = (currentMonth + 1) > 12;
    	        var defaultEndDate = (isOverYear ? (currentYear + 1) : currentYear) + '-' + (isOverYear ? '01' : currentMonth + 1) + '-01 01:00:00';
    	        $('#createDate').daterangepicker({
    	          timePicker: true, 
    	          timePickerIncrement: 30, 
    	          format: 'YYYY-MM-DD HH:mm:ss',
    	          opens: 'right',
    	          startDate: defaultStartDate,
    	          endDate: defaultEndDate
    	        });
    	        $('#createDate').data('daterangepicker').setStartDate(defaultStartDate);
        $("#privatemodellist").dataTable({
        	"bStateSave": true,
        	"paging": true,
            //"processing": true,
            "serverSide": true,
            "lengthChange": false,
            "searching": false,
            "info": true,
            "autoWidth": false,
            "ordering": true,
            "pageLength":33,//分页长度
	        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
	        	 var createDate=$("#createDate").val();
	            var username = $("#username").val();
	            var nickname = $("#nickname").val();
	            var amName = $("#amName").val();
	            var genderId = $("#genderId").find("option:selected").val();
	            
	        	aoData.push(
	        		{"name":"nickname","value":nickname},
	       			{"name":"username","value":username},
	       			{"name":"genderId","value":genderId},
	       			{"name":"amName","value":amName}
       			)
       			
       		   
                if(createDate!=''){                	
                	var tmp=createDate.split(' - ');
                	if(tmp.length==2){
                		aoData.push({"name": "beginDate",  "value": tmp[0]});
                        aoData.push({"name": "endDate",  "value": tmp[1]});
                	}
                }
	        	
	        	layer.load(1, {shade: 0.3});
	        	oSettings.jqXHR = $.ajax( {
	              "dataType": 'json',
	              "type": "POST",
	              "url": ctx+"/salary/list",
	              "data": aoData,
	              "success": fnCallback
	        	});
	        },
	        "columns": [//排序、赋值
	                    {"data": "amName","bSortable": false },
				{"data": "amName","bSortable": false },
				{"data": "nickname","bSortable": false},
				{"data": "username","bSortable": false },
				{"data": "saCommission","bSortable": false},
				{"data": "saAllowance","bSortable": false },
				{"data": "genderId","bSortable": false},
				{"data": "saType","bSortable": false},
				{"data": "saCreateTime","bSortable": false},
	        ],
	        "columnDefs": [
	                { 
	        		"targets": 6,//复选框
					"data": "genderId",
					"render": function ( data, type, full, meta ) {
						 return data=='F'?'女':'男'; 
				    	}
					},
					{//特殊数据
		        		"targets": 7,//复选框
						"data": "saType",
						"render": function ( data, type, full, meta ) {
							 return data==6?'IM消费':'动态翻译'; 
						}   
					},{
		                "targets": 8,     
		                "data": "saCreateTime",
		                "render": function(data, type, full, meta) {
		                	var dstr='';
		                	if(data!=null){
		                		dstr=new Date(data).format('yyyy-MM-dd hh:mm:ss');
		                	}
		                    return dstr;
		                }
		            }
			],
            "fnDrawCallback": function(oSettings) { //这个应该是重绘的回调函数
	            layer.closeAll();
            }
	    });
	 
        //序号相关
        var table = $('#privatemodellist').DataTable();
        table.on( 'order.dt search.dt', function () {
        	//获取页信息
        	var page=table.page.info();
         	table.column(0, {}).nodes().each( function (cell, i) {
                 cell.innerHTML += page.page*page.length+ i+1;
            });
        }).draw();
   });
});
  
/**
 * 刷新
 */
function reload(){
	window.location.reload();//刷新当前页面.
}

/**
 * 打开新增窗口
 */
function openAdd(){
	var count = "";
	var gid = "";
	var gclist = "";
	count += "<table><tr><td><img class='ylt1' />"
	+"<img class='ylt2'/><img class='ylt3'/>"
	+"<img class='ylt4'/><img class='ylt5'/></td></tr></table>";
	$.ajax({
        type: "post",
        url: ctx + "/Giftreal/openAdd",
        dataType: "json",
        async: false,
        //data: {"grimRealgift": grimRealgift},
        success: function(data) {
        	 if (data.success) {
        		 gid = data.obj.gireGiftid;
        		 gclist = data.obj.gclist;
        	 }
        }
    });
	
	count += "<table class='giftReal-t'>";
	count +="<tr><td width='75'>ID:</td><td>"+ gid +"<input id='gireGiftid' type='hidden' value='"+ gid +"'></td>";
	count +="<td>语言:</td><td><select id='gireLanage'><option value=\"zh-cn\">zh-cn</option>"
	+"<option value=\"zh-tw\">zh-tw</option>"
	+"<option value=\"en-us\">en-us</option>"
	+"<option value=\"de-de\">de-de</option>"
	+"<option value=\"es-es\">es-es</option>"
	+"<option value=\"ru-ru\">ru-ru</option>"
	+"<option value=\"ja-jp\">ja-jp</option>"
	+"<option value=\"ko-kr\">ko-kr</option>"
	+"</select></td></tr>";
	
	count +="<tr><td>类别:</td><td><select id='gireCategoryid'>";
	if(null != gclist && gclist.length > 0){
		for(var i = 0;i < gclist.length;i++ ){
			count += "<option value=\""+ gclist[i].gicaId +"\">"+ gclist[i].gicaName +"</option>";
		}
	}
	count += "</select></td>";
	count +="<td>名称:</td><td><input type='text' id='gireName'/></td></tr>";
	count +="<tr><td>默认赠言:</td><td><textarea id='gireGreeting'></textarea></td>";
	count +="<td>材料:</td><td><input type='text' id='gireMaterial'/></td></tr>";
	count +="<tr><td>金币:</td><td><input type='text' id='gireGold'/></td>";
	count +="<td>排序:</td><td><input type='text' id='gireSort'/></td></tr>";
	count +="<tr><td>购买链接:</td><td colspan='3'><input type='text' id='girePlatsource'/>（第三方网站，便于后期采购）</td></tr>";
	count +="<tr><td>礼物图片:</td><td><input type='file' style='width:200px' id='img1' onchange='upload(this,1)'/></td>";
	count +="<td width='80'>礼物图片:</td><td><input type='file' style='width:200px' id='img2' onchange='upload(this,2)'/></td></tr>";
	count +="<tr><td>礼物图片:</td><td><input type='file' id='img3' style='width:200px' onchange='upload(this,3)'/></td>";
	count +="<td width='80'>礼物图片:</td><td><input type='file' id='img4' style='width:200px' onchange='upload(this,4)'/></td></tr>";
	count +="<tr><td>礼物图片:</td><td colspan='3'><input type='file' style='width:200px' id='img5' onchange='upload(this,5)'/></td></tr>";
	//编辑框
	count +="<tr><td>商品详情:</td><td colspan='3'><textarea id='compose-textarea' class='form-control'></textarea></td></tr>";
	count +="<tr><td>活动推荐:</td><td colspan='3'><input type='checkbox' id='gireIsrecommend'/></td></tr>";
	
	count += "</table><input type='file' id='inputs2' multiple='multiple' /><ul></ul>";
	$("#ModalLabel").text("添加真实礼物");
	$("#bodycontent").html(count);
	$("#modalbutton").html('<button type="button" onclick="add(true)" class="btn btn-primary">添加 </button><button type="button" class="btn btn-default" data-dismiss="modal">取消</button>');
	$('#Modal').modal({
	    keyboard: true
	});
	
	// $("#compose-textarea").wysihtml5();//为编辑框初始化   onchange='uploadM(this)'
	var editors = CKEDITOR.replace('compose-textarea');
	$('#Modal').on('shown.bs.modal', function() {
	    $('#modalbutton .btn-primary').on('click', function(event) {
	    	event.preventDefault();
	    	add(true, editors);
	    });
	    $('#Modal input[type="file"]').on('change', function(event) {	    	
	    	uploadM(this, editors);
	    	// console.log(1);
	    });
	});	
	$('#Modal').on('hidden.bs.modal', function() {
		$('#Modal').off();
	});
}
  
 

</script>

