<style type="text/css">
.giftReal-t td { padding: 6px; }
.ylt1, .ylt2, .ylt3, .ylt4, .ylt5 { max-height: 100px; }
.edit-img-box { position: relative; display: none; }
.edit-img-box span { width: 15px; height: 15px; position: absolute; background: #f00; right: 0; text-align: center;  line-height: 16px;  color: #FFF; cursor: pointer;  }
.edit-img-box.have { display: inline-block; }
.zi{width: 10%;float: left;text-align: center;line-height: 34px;}
.startTime{width: 45%;float: left;}
</style>
<section class="content-header">
	<h1>
		代理商管理<small></small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
		<li>代理商管理</li>
		<li class="active">代理商管理</li>
	</ol>
</section>

<section class="content-main">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<!-- 头部操作菜单 -->
				<form class="form-horizontal" id="searchForm">
					<div class="box-body">
					
						<div class="form-group">
							<label class="col-sm-2 control-label" for="ds_host">姓名</label>
							<div class="col-sm-4">
								<input class="form-control" id="amName_search" name="amName_search" type="text" placeholder="大使姓名" />
							</div>
						</div>

					</div>
					<div class="box-footer">
						<button type="button" class="btn btn-primary" onclick="openAddNew()">新增</button>
						<button type="button" class="btn btn-primary" onclick="batchdel(false)">删除</button>
						<button type="button" class="btn btn-primary" onclick="reload()">刷新</button>
						<button type="button" class="btn btn-primary" onclick="search()">搜索</button>
					</div>
				</form>

				<!-- 列头 -->
				<div class="box-body mailbox-messages">
					<table id="privatemodellist" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>
									<button class="btn btn-default btn-sm checkbox-toggle">
										<i class="fa fa-square-o"></i>
									</button>序号
								</th>
								<th>姓名</th>
								<th>登录帐号</th>
								<th>性别</th>
								<th>电话</th>
								<th>添加时间</th>
								<th>大使人数</th>
								<th>大使总提成</th>
								<th>操作</th>
							</tr>
						</thead>

					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- 编辑弹窗 -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:820px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="ModalLabel"></h4>
			</div>
			<div class="modal-body" id="bodycontent">
			
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" id="modalbutton" class="btn btn-primary" >
					提交更改
				</button>
			</div>
		</div>
	</div>
</div>

<!-- 提示弹窗 -->
<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="ModalLabel1"></h4>
			</div>
			<div class="modal-body" id="bodycontent1">
				<!-- 在这里添加一些文本 -->
			</div>
			<div class="modal-footer" id="modalbutton1"></div>
		</div>
	</div>
</div>
<div id ="formDiv" hidden="hidden">
<form class="form-horizontal" role="form" id="formAdd">
<input type="hidden" id ="amId" name="amId"/>
<input type="hidden" id ="amSysId" name="amSysId"/>
       <fieldset>
           <legend>添加大使</legend>
          <div class="form-group">
             <label class="col-sm-2 control-label" for="ds_host">姓名</label>
             <div class="col-sm-4">
                <input class="form-control" id="amName" name="amName" type="text" placeholder="姓名"/>
             </div>
             <label class="col-sm-2 control-label" for="ds_name">登录帐号</label>
             <div class="col-sm-4">
                <input class="form-control" id="amGagaid" name="amGagaid" type="text" placeholder="" required="required"/>
             </div>
          </div>
          <div class="form-group">
             <label class="col-sm-2 control-label" for="ds_username">大使电话</label>
             <div class="col-sm-4">
                <input class="form-control" id="amPhone" name="amPhone" type="text" placeholder="大使电话"/>
             </div>
             <label class="col-sm-2 control-label" for="ds_password">性别</label>
             <div class="col-sm-4">
               	<select id="amSex" name="amSex" class="form-control">
               		<option value="1">男</option>
               		<option value="2">女</option>
               		<option value="0">无</option>
               	</select>
            </div>
          </div>
          <div class="form-group">
             <label class="col-sm-2 control-label" for="ds_username">银行卡号</label>
             <div class="col-sm-4">
                <input class="form-control" id="amCardNumber" name="amCardNumber" type="text" placeholder="银行卡号"/>
             </div>
             <label class="col-sm-2 control-label" for="ds_password">开卡行</label>
             <div class="col-sm-4">
                <input class="form-control" id="amCardBank" name="amCardBank" type="text" placeholder="开卡行"/>
             </div>
          </div>
          <div class="form-group">
             <label class="col-sm-2 control-label" for="ds_username">开卡行支行</label>
             <div class="col-sm-4">
                <input class="form-control" id="amCardBankBranch" name="amCardBankBranch" type="text" placeholder="开卡行支行"/>
             </div>
             <label class="col-sm-2 control-label" for="ds_password">开卡省</label>
             <div class="col-sm-4">
                <input class="form-control" id="amCardProvince" name="amCardProvince" type="text" placeholder="开卡省"/>
             </div>
          </div>
           <div class="form-group">
             <label class="col-sm-2 control-label" for="ds_username">开卡城市</label>
             <div class="col-sm-4">
                <input class="form-control" id="amCardCity" name="amCardCity" type="text" placeholder="开卡城市"/>
             </div>
             <label class="col-sm-2 control-label" for="ds_password">院校</label>
             <div class="col-sm-4">
                <input class="form-control" id="amUniversity" name="amUniversity" type="text" placeholder="院校"/>
             </div>
          </div>
           <div class="form-group">
            <label class="col-sm-2 control-label" for="ds_password">人员配额</label>
             <div class="col-sm-4">
                <input class="form-control" id="amPersonLimit" name="amPersonLimit" type="text" value="400" placeholder="人员配额"/>
             </div>
             <label class="col-sm-2 control-label" for="ds_username">提成比例</label>
             <div class="col-sm-4">
                <input class="form-control" id="amCommission" name="amCommission" type="text" value="0.35" placeholder="提成比例"/>
             </div>
          </div>
       </fieldset>     
</form>
</div>

<script src="dist/js/pages/agent.js"></script>
<script type="text/javascript">

$(function(){
	$('#addStart').datepicker({format: 'yyyy-mm-dd',language: 'zh-CN'});
	 $('#addEnd').datepicker({format: 'yyyy-mm-dd',language: 'zh-CN'});
	 $('#salaryStart').datepicker({format: 'yyyy-mm-dd',language: 'zh-CN',defaultDate : new Date(), });
	 $('#salaryEnd').datepicker({format: 'yyyy-mm-dd',language: 'zh-CN',defaultDate : new Date(),});
});

function openAddNew(){
	$('#bodycontent').html($('#formDiv').html());
	$('legend').text('新增代理商');
	$('#Modal').modal({
	    keyboard: true
	});
	 $('#modalbutton').unbind();
	  $('#modalbutton').on('click', function(event) {
	    	event.preventDefault();
	    	if(!checkForm())return;
	    	  $.ajax({
					type:"post",
					url:ctx + "/agentManage/addAgent",
					dataType:"json",
					data:$('#formAdd').serialize(),
					success:function(data){
						console.log(data)
						layer.msg(data.msg);
						if(data.success){
							$('#Modal').modal('hide');
							search();
						}else{
							layer.msg(data.msg);
						}
					}
				});
	    });
}

function openEditNew(id){
	$('#bodycontent').html($('#formDiv').html());
	$('legend').text('编辑代理商');
	$('#Modal').modal({
	    keyboard: true
	});
	$.ajax({
		type:"post",
		async:"false",
		url:ctx + "/agent/getAmbassador",
		dataType:"json",
		data:{amSysId:id},
		success:function(data){
			if(data.success){
				$('#amId').val(data.obj.amId);
				$('#amName').val(data.obj.amName);
				$('#amCardNumber').val(data.obj.amCardNumber);
				$('#amCardBank').val(data.obj.amCardBank);
				$('#amCardBankBranch').val(data.obj.amCardBankBranch);
				$('#amCardProvince').val(data.obj.amCardProvince);
				$('#amCardCity').val(data.obj.amCardCity);
				$('#amUniversity').val(data.obj.amUniversity);
				$('#amPhone').val(data.obj.amPhone);
				$('#amPersonLimit').val(data.obj.amPersonLimit);
				$('#amCommission').val(data.obj.amCommission);
				$('#amSysId').val(data.obj.amSysId);
				$('#amGagaid').val(data.obj.amGagaid);
				$('#amGagaid').attr("disabled","disabled"); 
			}else{
				layer.msg(data.msg);
			}
		}
	});
	 $('#modalbutton').unbind();
  $('#modalbutton').on('click', function(event) {
    	event.preventDefault();
    	if(!checkForm())return;
    	  $.ajax({
				type:"post",
				url:ctx + "/agent/editAmbassador",
				dataType:"json",
				data:$('#formAdd').serialize(),
				success:function(data){
					layer.msg(data.msg);
					if(data.success){
						$('#Modal').modal('hide');
						search();
					}else{
						layer.msg(data.msg);
					}
				}
			});
    });
}

/**
 * 查询
 */
function search(){
	$("#privatemodellist").dataTable().fnDraw(true);
}

$(function() {
    $.addFields(['/plugins/datatables/jquery.dataTables.min.js', '/plugins/datatables/dataTables.bootstrap.min.js', '/plugins/iCheck/icheck.min.js'], function() {
        $("#privatemodellist").dataTable({
        	"bStateSave": true,
        	"paging": true,
            //"processing": true,
            "serverSide": true,
            "lengthChange": false,
            "searching": false,
            "info": true,
            "autoWidth": false,
            "ordering": true,
            "pageLength":10,//分页长度
	        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
	         	            
	        	aoData.push(
	        			{"name":"amName","value":($('#amName_search').val()).trim()},
		       			{"name":"level","value": $("#level").val()},
		       			{"name":"addStart","value":$('#addStart').val()},
		       			{"name":"addEnd","value":$('#addEnd').val()},
		       			{"name":"salaryStart","value":$('#salaryStart').val()},
		       			{"name":"salaryEnd","value":$('#salaryEnd').val()},
		       			{"name":"amGagaid","value":$('#amGagaid_search').val()}
       			)
	        	layer.load(1, {shade: 0.3});
	        	oSettings.jqXHR = $.ajax( {
	              "dataType": 'json',
	              "type": "POST",
	              "url": ctx+"/agentManage/agentPage",
	              "data": aoData,
	              "success": fnCallback
	        	});
	        },
	        "columns": [//排序、赋值
				{"data": "am_sys_id","bSortable": false },
				{"data": "am_name","bSortable": false},
				{"data": "am_gagaid","bSortable": false,"defaultContent":0},
				{"data": "am_sex","bSortable": false},
				
				{"data": "am_phone","bSortable": false},
				{"data": "am_create_time","bSortable": false},
				{"data": "totalAm","bSortable": false,"defaultContent":0},
				{"data": "commission","bSortable": false,"defaultContent":0},
			
				{"data": "am_sys_id","bSortable": false },
	        ],
	        "columnDefs": [{//特殊数据
	        		"targets": 0,//复选框
	        		 "data": "am_id",
					"render": function ( data, type, full, meta ) {
						 return '<input type="checkbox" value="' + data + '" title="' + data + '" name="checkbox" class="checkbox" />'; 
					}   
				},{//特殊数据
	        		"targets": 2,//嘎嘎号
	        		 "data": "username",
					"render": function ( data, type, full, meta ) {
	                	return data;
					}   
				},{//特殊数据
	        		"targets": 3,//复选框
	        		 "data": "am_sex",
					"render": function ( data, type, full, meta ) {
	                	if(data==2){return '女'}else if(data==1){return '男'}return '无'
					}   
				},{//特殊数据
	        		"targets": 5,//复选框
	        		 "data": "am_create_time",
					"render": function ( data, type, full, meta ) {
	                	if(data!=null){
	                		var longtime=new Date(data).getTime();
	                		date=new Date(longtime);
	                    return date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();;
	                	}
					}   
				},{
	        		"targets": 8,//操作
	        		 "data": "am_id",
					"render": function ( data, type, full, meta ) {
						if(full.isNext!=1&&full.re_parent_id!=null){
							return '';
						}
						 return ' <a class="openEditNew" href="javascript:void(0)" onclick="openEditNew(\''+ data +'\')">编辑</a><br/>';
					}
				}
			],
            "fnDrawCallback": function(oSettings) { //这个应该是重绘的回调函数
            	$(".mailbox-messages input[type='checkbox']").iCheck({
	            	checkboxClass: 'icheckbox_flat-blue',
	                radioClass: 'iradio_flat-blue'
	            });
	            layer.closeAll();
            	 var json=jQuery.parseJSON(oSettings.jqXHR.responseText);
            	//console.log(json);
            	/*var str ="";
            		str += "<option value =\"\" language=\"\">全部</option>";
            	for(var i = 0;i < json.obj.length; i++){
            		str += "<option value =\""+ json.obj[i].gicaId +"\" language=\""+ json.obj[i].gicaLanguage +"\">" + json.obj[i].gicaName + "</option>";
            	}
            	$("#gcselect").append(str);
            	$("#privatemodellist .fa").removeClass('fa-check-square-o').addClass('fa-square-o'); */
            }
	    });
		$(".checkbox-toggle").click(function() {//复选框全选/反选
			var clicks = $(this).data('clicks');
			if (clicks) {
			    $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
			    $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
			} else {
			    $(".mailbox-messages input[type='checkbox']").iCheck("check").add("checked");
			    $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
			}
			$(this).data("clicks", !clicks);
		});
        //序号相关
        var table = $('#privatemodellist').DataTable();
        table.on( 'order.dt search.dt', function () {
        	//获取页信息
        	var page=table.page.info();
         	table.column(0, {}).nodes().each( function (cell, i) {
                 cell.innerHTML += page.page*page.length+ i+1;
            });
        }).draw();
   });
});

/**
 * 刷新
 */
function reload(){
	window.location.reload();//刷新当前页面.
}
/**
 *	批量删除
 *	sign	标志true 不再提示是否删除
 */
function batchdel(sign) {
	var diphid = new Array();
	
	var objs = $("#privatemodellist div");
	
    for (var i = 0; i < objs.length; i++) {
        var obj = objs[i];
        var flag = $(obj).attr("aria-checked");
        if (flag == "true") {
            var val=$(obj).children("input").attr("value");
            diphid.push(val);  
        }
    }
    console.log(diphid.length);
 	if(null == diphid || diphid.length <= 0||diphid.length > 1){
		$("#ModalLabel1").text("提示");
		$("#bodycontent1").html('<span>请选中一条进行删除！</span>');
		$("#modalbutton1").html('<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>');
		$('#Modal1').modal({
		    keyboard: true
		});
		return;
 	}
    
    if(!sign){
		$("#ModalLabel1").text("删除模板");
		$("#bodycontent1").html('<span>确定要删除所选项吗？</span>');
		$("#modalbutton1").html('<button type="button" onclick="batchdel(true)" class="btn btn-primary">确定</button><button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>');
		$('#Modal1').modal({
		    keyboard: true
		});
		return;
    }
  
    $.ajax({
        type: "post",
        url: ctx + "/agent/deleteAmbassador",
        dataType: "json",
        data: {"amSysId": diphid.join()},
        success: function(data) {
            if (data.success) {
            	$("#privatemodellist").dataTable().fnDraw(true);
            	$('#Modal1').modal('hide');
            	search();
            }else{
            	$("#privatemodellist").dataTable().fnDraw(true);
            	$('#Modal').modal('hide');
            	
            	$("#ModalLabel1").text("提示");
        		$("#bodycontent1").html('<span>数据异常！请重试！</span>');
        		$("#modalbutton1").html('<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>');
        		$('#Modal1').modal({
        		    keyboard: true
        		});
            }
        }
    });
}

</script>

